 <!--Page Banner-->
 <div class="page-banner about-page-banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">About Us</h1>
                <!--Breadcrums-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
                <!--End Breadcrums-->
            </div>
        </div>
    </div>
</div>
<!--End Page Banner-->

<!--Text & Image Section-->
<div class="section text-image-section">
    <div class="container">
        <div class="row">
            <!--Text Section-->
            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="section-title text-start">
                    <h2 class="title text-uppercase mb-2">ABOUT COMPANY</h2>
                </div>
                <h3 class="text-uppercase large-title">We are qualified &amp; experience in this field</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <ul class="lists-style1">
                    <li>We make auto repair more convenient for you</li>
                    <li>We get the job done right — the first time</li>
                    <li>Proven Results for Setting Exceptional Standards</li>
                    <li>Same day service for most repairs</li>
                </ul>
            </div>
            <!--End Text Section-->
            <!--Image Section-->
            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                <img class="blur-up lazyload rounded-3 w-100" src="/assets/images/about-img-520x620.jpg" data-src="/assets/images/about-img-520x620.jpg" alt="About" title="" width="520" height="620" />
            </div>
            <!--End Image Section-->
        </div>
    </div>
</div>
<!--End Text & Image Section-->

<!--Quality Section-->
<div class="section quality-section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title text-uppercase mb-2">EXPLORE FEATURES</h2>
                    <h3 class="text-uppercase large-title">Quality and perfomance</h3>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="box text-center">
                    <img class="mb-3 blur-up lazyload" src="/assets/images/quality-icon142x80-1.png" data-src="/assets/images/quality-icon142x80-1.png" alt="" title="" width="142" height="80" />
                    <h3 class="title mb-2">Brake Fluid Exchange</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="box text-center">
                    <img class="mb-3 blur-up lazyload" src="/assets/images/quality-icon142x80-2.png" data-src="/assets/images/quality-icon142x80-2.png" alt="" title="" width="142" height="80" />
                    <h3 class="title mb-2">Wheel Alignment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="box text-center">
                    <img class="mb-3 blur-up lazyload" src="/assets/images/quality-icon142x80-3.png" data-src="/assets/images/quality-icon142x80-3.png" alt="" title="" width="142" height="80" />
                    <h3 class="title mb-2">Maintenance Packages</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Quality Section-->

<!--Video Section-->
<div class="section video-popup-section pb-0">
    <div class="container">
        <div class="row">
            <!--Video Popup Image-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <a href="https://www.youtube.com/watch?v=R5jIoLnL_nE?autoplay=1&amp;rel=0" class="mfpbox mfpbox-img mfp-with-anim popup-video">
                    <img class="blur-up lazyload rounded-3 w-100 d-block" src="/assets/images/about-630x540.jpg" data-src="/assets/images/about-630x540.jpg" alt="About" title="" width="630" height="540" />
                </a>
            </div>
            <!--End Video Popup Image-->
            <!--Video Text-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="section-title text-start">
                    <h2 class="title text-uppercase mb-2">WHY CHOOSE US ?</h2>
                    <h3 class="text-uppercase large-title white-text">We are Qualified &amp; Professional</h3>
                </div>    
                <p class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <div class="progress-box">
                    <div class="mb-3">
                        <p class="white-text mb-0 text-uppercase"><b>Quality Services 80%</b></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <p class="white-text mb-0 text-uppercase"><b>Experienced Technicals 90%</b></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-0">
                        <p class="white-text mb-0 text-uppercase"><b>Long Term Warranty 70%</b></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Video Text-->
        </div>
    </div>
</div>
<!--End Video Section-->

<!--Activity-->
<div class="section journey-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title mb-1 text-uppercase">Activity</h2>
                    <h3 class="text-uppercase yellow-title">It's Our Journey.</h3>
                </div>
            </div>
        </div>
        <!--Number Counter-->
        <div class="row counter-section">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="counter-item d-flex align-items-center">
                    <div class="icon"><i class="cp cp-user-tie"></i></div>
                    <div class="counter">
                        <span class="counter-store counter-number">733</span> <span class="plus-sign">+</span>
                        <p>Active Clients</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="counter-item d-flex align-items-center">
                    <div class="icon"><i class="cp cp-coffee"></i></div>
                    <div class="counter">
                        <span class="counter-number">33K</span> <span class="plus-sign">+</span>
                        <p>Cup of Coffee</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="counter-item d-flex align-items-center">
                    <div class="icon"><i class="cp cp-star"></i></div>
                    <div class="counter">
                        <span class="counter-rewards counter-number">100</span> <span class="plus-sign">+</span>
                        <p>Get Rewards</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="counter-item d-flex align-items-center">
                    <div class="icon"><i class="cp cp-globe"></i></div>
                    <div class="counter">
                        <span class="counter-country counter-number">25</span> <span class="plus-sign">+</span>
                        <p>Country Cover</p>
                    </div>
                </div>
            </div>
        </div>
        <!--End Number Counter-->
    </div>
</div>
<!--End Activity-->

<!--Testimonial Section-->
<div class="testimonial-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title text-uppercase">Testimonials</h2>
                    <h3 class="large-title text-uppercase">100% approved by customers</h3>
                </div>
            </div>
        </div>
        <div class="quote-wraper">
            <!--Testimonial Slider Items-->
            <div class="quotes-slider">
                <div class="quotes-slide">
                    <div class="quotes-slider__text">             
                        <div class="rte-setting"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p></div>
                        <div class="d-flex align-items-center">
                            <div class="testimonial-image"><img src="/assets/images/photo1.jpg" data-src="/assets/images/photo1.jpg" alt="Shetty Jamie" title="Shetty Jamie" class="blur-up lazyload"/></div>
                            <div class="detail">
                                <p class="authour">James Anderson,</p>
                                <p class="cmp-name">CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quotes-slide">
                    <div class="quotes-slider__text">             
                        <div class="rte-setting"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. </p></div>
                        <div class="d-flex align-items-center">
                            <div class="testimonial-image"><img src="/assets/images/photo1.jpg" data-src="/assets/images/photo1.jpg" alt="Shetty Jamie" title="Shetty Jamie" class="blur-up lazyload" /></div>
                            <div class="detail">
                                <p class="authour">Shetty Jamie,</p>
                                <p class="cmp-name">MD</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quotes-slide">
                    <div class="quotes-slider__text">             
                        <div class="rte-setting"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo accumsan lacus vel facilisis. </p></div>
                        <div class="d-flex align-items-center">
                            <div class="testimonial-image"><img src="/assets/images/photo1.jpg" data-src="/assets/images/photo1.jpg" alt="Sara Colinton" title="Sara Colinton" class="blur-up lazyload" /></div>
                            <div class="detail">
                                <p class="authour">Sara Colinton,</p>
                                <p class="cmp-name">COO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Testimonial Slider Items-->
        </div>
    </div>
</div>
<!--End Testimonial Section-->