            <!--Page Banner-->
            <div class="page-banner gallery-page-banner text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-uppercase">Gallery Masonry 3 column</h1>
                            <!--Breadcrums-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                                    <li class="breadcrumb-item active" aria-current="page">Gallery Masonry 3 column</li>
                                </ol>
                            </nav>
                            <!--End Breadcrums-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Page Banner-->
            
            <!--Gallery 2column-->
            <div class="section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <!--Gallery Nav-->
                            <nav class="nav justify-content-center mb-4 mt-4 pb-4 pt-4 gallery-nav">
                                <a class="nav-item btn rounded mx-1 active" href="#" data-filter="*">All</a>
                                <a class="nav-item btn rounded mx-1" href="#" data-filter=".carbody">Car Body</a>
                                <a class="nav-item btn rounded mx-1" href="#" data-filter=".wheel">Wheel</a>
                                <a class="nav-item btn rounded mx-1" href="#" data-filter=".engine">Engine</a>
                                <a class="nav-item btn rounded mx-1" href="#" data-filter=".mechanic">Mechanic</a>
                                <a class="nav-item btn rounded mx-1" href="#" data-filter=".repair">Repair</a>
                            </nav>
                            <!--End Gallery Nav-->
                        </div>
                    </div>
                </div>
                <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="demo-gallery grid-col-3 gallery-list filter-content">
                                    <ul class="gallery-col-3 grid">
                                        <li class="grid-sizer col-6 col-sm-4 col-md-4 col-lg-4"></li>
                                        <li class="grid-item carbody">
                                            <a href="/assets/images/gallery/630x530-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x530-1.jpg" data-src="/assets/images/gallery/630x530-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>ENGINE OIL CHANGE</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item repair">
                                            <a href="/assets/images/gallery/630x630-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x630-1.jpg" data-src="/assets/images/gallery/630x630-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>ENGINE OIL CHANGE</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item carbody">
                                            <a href="/assets/images/gallery/630x630-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x630-1.jpg" data-src="/assets/images/gallery/630x630-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>ENGINE OIL CHANGE</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item mechanic">
                                            <a href="/assets/images/gallery/630x630-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x630-1.jpg" data-src="/assets/images/gallery/630x630-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>ENGINE OIL CHANGE</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item wheel">
                                            <a href="/assets/images/gallery/630x390.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x390.jpg" data-src="/assets/images/gallery/630x390.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>ENGINE OIL CHANGE</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item repair">
                                            <a href="/assets/images/gallery/630x300.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x300.jpg" data-src="/assets/images/gallery/630x300.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>Sports Car</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item wheel">
                                            <a href="/assets/images/gallery/630x440.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x440.jpg" data-src="/assets/images/gallery/630x440.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>Sports Bikes</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item mechanic">
                                            <a href="/assets/images/gallery/630x630-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x630-1.jpg" data-src="/assets/images/gallery/630x630-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>Sports Bikes</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item engine">
                                            <a href="/assets/images/gallery/630x630-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x630-1.jpg" data-src="/assets/images/gallery/630x630-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>Sports Bikes</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                         <li class="grid-item engine">
                                            <a href="/assets/images/gallery/630x470-1.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x470-1.jpg" data-src="/assets/images/gallery/630x470-1.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>Bikes Parts</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                        <li class="grid-item repair">
                                            <a href="/assets/images/gallery/630x460.jpg" class="col img-gallery">
                                                <img src="/assets/images/gallery/630x460.jpg" data-src="/assets/images/gallery/630x460.jpg" alt="" class="blur-up lazyload rounded-3" />
                                                <figure>
                                                    <b>Bonet Parts</b>
                                                    <p>Car Body, Wheel</p>
                                                </figure>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!--End Gallery 2column-->