 <!--Page Banner-->
 <div class="page-banner cart-page-banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">Shopping Cart Style3</h1>
                <!--Breadcrums-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart Style3</li>
                    </ol>
                </nav>
                <!--End Breadcrums-->
            </div>
        </div>
    </div>
</div>
<!--End Page Banner-->

<!--Cart Content-->
<div class="section pb-0 cart-style3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <!-- Cart Table-->
                <div class="alert alert-success" role="alert"><i class="cp cp-lg cp-check-circle"></i> <span class="mx-2">Your cart is saved for the next 4m34s</span></div>
                <form action="#" method="post" class="cart my-4 mt-0">
                    <table class="table cart-products mb-4">
                        <thead>
                            <tr>
                                <th scope="col" class="alt-font"></th>
                                <th scope="col" class="alt-font"></th>
                                <th scope="col" class="alt-font">Product</th>
                                <th scope="col" class="alt-font">Price</th>
                                <th scope="col" class="alt-font text-center">Quantity</th>
                                <th scope="col" class="alt-font">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> 
                                <td class="product-remove">
                                    <a href="#" class="btn-default text-large remove"><i class="cp cp-times"></i></a>
                                </td>
                                <td class="product-thumbnail"><a href="single-product.html"><img class="blur-up rounded-3 lazyloaded" data-src="/assets/images/products/110x110.jpg" src="/assets/images/products/110x110.jpg" alt="product" title="product"></a></td>
                                <td class="product-name">
                                    <a href="single-product.html">For Mercedes Benz ML W166</a>
                                    <span class="variation"> Size: L</span>
                                </td>
                                <td class="product-price" data-title="Price">$350.00</td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="qtyField">
                                        <label class="screen-reader-text">Quantity</label>
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                        <input type="text" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                    </div>
                                </td> 
                                <td class="product-subtotal" data-title="Total">$350.00</td> 
                            </tr>
                            <tr> 
                                <td class="product-remove">
                                    <a href="#" class="btn-default text-large remove"><i class="cp cp-times"></i></a>
                                </td>
                                <td class="product-thumbnail"><a href="single-product.html"><img class="blur-up rounded-3 lazyloaded" data-src="/assets/images/products/110x110.jpg" src="/assets/images/products/110x110.jpg" alt="product" title="product"></a></td>
                                <td class="product-name">
                                    <a href="single-product.html">Pulley Crank Timing Belt</a>
                                    <span class="variation">Size: L</span>
                                </td>
                                <td class="product-price" data-title="Price">$10.00</td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="qtyField">
                                        <label class="screen-reader-text">Quantity</label>
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                        <input type="text" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                    </div>
                                </td>
                                <td class="product-subtotal" data-title="Total">$10.00</td> 
                            </tr>
                            <tr>
                                <td class="product-remove">
                                    <a href="#" class="btn-default text-large remove"><i class="cp cp-times"></i></a>
                                </td>
                                <td class="product-thumbnail"><a href="single-product.html"><img class="blur-up rounded-3 lazyloaded" data-src="/assets/images/products/110x110.jpg" src="/assets/images/products/110x110.jpg" alt="product" title="product"></a></td>
                                <td class="product-name">
                                    <a href="single-product.html">Hood Comp</a>
                                    <span class="variation">Size: XL</span>
                                </td>
                                <td class="product-price" data-title="Price">$299.00</td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="qtyField">
                                        <label class="screen-reader-text">Quantity</label>
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="cps cp-minus"></i></a>
                                        <input type="text" name="quantity" value="1" class="product-form__input qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="cps cp-plus"></i></a>
                                    </div>
                                </td>
                                <td class="product-subtotal" data-title="Total">$299.00</td> 
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between button-set-bottom">
                        <a href="#" class="btn btn-secondary rounded-3 cart-continue">Continue shopping</a>
                        <button type="submit" name="clear" class="btn btn-border rounded-3 small--hide mx-4">Clear Shoping Cart</button>
                        <button type="submit" name="update" class="btn btn-border rounded-3 cart-continue">UPDATE SHOPPING CART</button>
                    </div>
                </form>
                <!--End Cart Table-->
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <div class="solid-border cart-total rounded-3">
                    <h5 class="text-uppercase">Summary</h5>
                    <div class="row pb-2">
                        <span class="col-6 col-sm-6 text-uppercase"><b>Subtotal</b></span>
                        <span class="col-6 col-sm-6 text-end"><span class="money">$735.00</span></span>
                    </div>
                    <div class="row pb-2 pt-2">
                        <span class="col-6 col-sm-6 text-uppercase"><b>Tax</b></span>
                        <span class="col-6 col-sm-6 text-end">$10.00</span>
                    </div>
                    <div class="row border-bottom pb-2 pt-2">
                        <span class="col-6 col-sm-6 text-uppercase"><b>Shipping</b></span>
                        <span class="col-6 col-sm-6 text-end small text-uppercase">Free shipping</span>
                    </div>
                    <div class="row pb-2 pt-2">
                        <span class="col-6 col-sm-6 cart__subtotal-title text-uppercase"><strong>Total</strong></span>
                        <span class="col-6 col-sm-6 cart__subtotal-title cart__subtotal text-end"><b>$745.00</b></span>
                    </div>
                    <form action="#" method="post" class="coupon-code">
                        <div class="form-group">
                            <input type="text" name="coupon" id="coupon" placeholder="ENTER COUPON CODE HERE" class="rounded-2 form-control">
                        </div>
                    </form>
                    <a href="checkout" class="btn btn-lg btn-primary rounded-pill my-4 checkout w-100">Proceed To Checkout</a>
                    <p><img class="blur-up lazyloaded" src="/assets/images/garauntee-img.png" data-src="/assets/images/garauntee-img.png" alt="Guaranteed Safe Checkout"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--You may also like products-->
<section class="section-sm product-slider">
    <div class="container">
        <div class="row">
            <div class="section-title col-12 text-left">
                <h2 class="title text-uppercase">May You Like This</h2>
            </div>
        </div>
        <div class="productSlider grid-products products-grid">
            <!--Product Item-->
            <div class="item">
                <!--Product Image-->
                <div class="product-image">
                    <a href="#" class="rounded-3 product-thumb">
                        <!--Image-->
                        <img class="primary blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Air Filter" title="Air Filter" />
                        <!--End Image-->
                        <!--Hover Image-->
                        <img class="hover blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Air Filter" title="Air Filter" />
                        <!--End Hover Image-->
                    </a>
                    <!--Button Action-->
                    <div class="button-hover">
                        <a href="wishlist.html" class="btn btn-wishlist" title="Wishlist"><i class="cpr cp-heart"></i></a>
                        <a class="btn pro-addtocart-popup rounded btn-cart btn-primary" href="shopping-cart.html" title="Add To Cart"><i class="cps cp-shopping-cart"></i></a>
                    </div>
                    <!--End Button Action-->
                </div>
                <!--End Product Image-->
                <!--Product Detail-->
                <div class="product-details d-flex">
                <div class="product-details-in">
                    <div class="h3"><a href="#">Air Filter</a></div>
                    <div class="price-box"><span class="price">$189.00</span></div>
                </div>
                <div class="product-review">
                    <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i>
                </div>
            </div>
                <!--End Product Detail-->
            </div>
            <!--End Product Item-->
            
                <!--Product Item-->
                <div class="item">
                    <!--Product Image-->
                    <div class="product-image">
                        <a href="#" class="rounded-3 product-thumb">
                            <!--Image-->
                            <img class="blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Front Wheel Hub For Fiat Punto Diesel " title="Front Wheel Hub For Fiat Punto Diesel " />
                            <!--End Image-->
                        </a>
                        <!--Product Label-->
                        <div class="product-labels"><span class="lbl new rounded">New</span></div>
                        <!--End Product Label-->
                        <!--Button Action-->
                        <div class="button-hover">
                            <a href="wishlist.html" class="btn btn-wishlist" title="Wishlist"><i class="cpr cp-heart"></i></a>
                            <a class="btn pro-addtocart-popup rounded btn-cart btn-primary" href="shopping-cart.html" title="Add To Cart"><i class="cps cp-shopping-cart"></i></a>
                        </div>
                        <!--End Button Action-->
                    </div>
                    <!--End Product Image-->
                    <!--Product Detail-->
                    <div class="product-details d-flex">
                    <div class="product-details-in">
                        <div class="h3"><a href="#">Front Wheel Hub For Fiat Punto Diesel</a></div>
                        <div class="price-box"><span class="price">$19.00</span></div>
                    </div>
                    <div class="product-review">
                        <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i>
                    </div>
                </div>
                    <!--End Product Detail-->
                </div>
                <!--End Product Item-->
            
            
                            <!--Product Item-->
                            <div class="item">
                                <!--Product Image-->
                                <div class="product-image">
                                    <a href="#" class="rounded-3 product-thumb">
                                        <!--Image-->
                                        <img class="primary blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Radio Transmitter Adapter" title="Radio Transmitter Adapter" />
                                        <!--End Image-->
                                        <!--Hover Image-->
                                        <img class="hover blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Radio Transmitter Adapter" title="Radio Transmitter Adapter" />
                                        <!--End Hover Image-->
                                    </a>
                                    <!--Button Action-->
                                    <div class="button-hover">
                                        <a href="wishlist.html" class="btn btn-wishlist" title="Wishlist"><i class="cpr cp-heart"></i></a>
                                        <a class="btn pro-addtocart-popup rounded btn-cart btn-primary" href="shopping-cart.html" title="Add To Cart"><i class="cps cp-shopping-cart"></i></a>
                                    </div>
                                    <!--End Button Action-->
                                </div>
                                <!--End Product Image-->
                                <!--Product Detail-->
                                <div class="product-details d-flex">
                                <div class="product-details-in">
                                    <div class="h3"><a href="#">Radio Transmitter Adapter</a></div>
                                    <div class="price-box"><span class="price">$19.00</span></div>
                                </div>
                                <div class="product-review">
                                    <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i>
                                </div>
                            </div>
                                <!--End Product Detail-->
                            </div>
                            <!--End Product Item-->
                        
            <!--Product Item-->
            <div class="item">
                <!--Product Image-->
                <div class="product-image">
                    <a href="#" class="rounded-3 product-thumb">
                        <!--Image-->
                        <img class="primary blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Hankook DynaPro AT-m RF10" title="Hankook DynaPro AT-m RF10" />
                        <!--End Image-->
                        <!--Hover Image-->
                        <img class="hover blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="Hankook DynaPro AT-m RF10" title="Hankook DynaPro AT-m RF10" />
                        <!--End Hover Image-->
                    </a>
                    <!--Button Action-->
                    <div class="button-hover">
                        <a href="wishlist.html" class="btn btn-wishlist" title="Wishlist"><i class="cpr cp-heart"></i></a>
                        <a class="btn pro-addtocart-popup rounded btn-cart btn-primary" href="shopping-cart.html" title="Add To Cart"><i class="cps cp-shopping-cart"></i></a>
                    </div>
                    <!--End Button Action-->
                </div>
                <!--End Product Image-->
                <!--Product Detail-->
                <div class="product-details d-flex">
                    <div class="product-details-in">
                        <div class="h3"><a href="#">Hankook DynaPro AT-m RF10</a></div>
                        <div class="price-box"><span class="price">$450.00</span></div>
                    </div>
                    <div class="product-review">
                        <i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star"></i><i class="cps cp-star-half-alt"></i>
                    </div>
                </div>
                <!--End Product Detail-->
            </div>
            <!--End Product Item-->
            <!--Product Item-->
            <div class="item">
                <!--Product Image-->
                <div class="product-image">
                    <a href="#" class="rounded-3 product-thumb">
                        <!--Image-->
                        <img class="blur-up lazyload rounded-3" data-src="/assets/images/products/250x250.jpg" src="/assets/images/products/250x250.jpg" alt="ACDelco 335 Professional" title="ACDelco 335 Professional" />
                        <!--End Image-->
                    </a>
                    <!--Product Label-->
                    <div class="product-labels"><span class="lbl on-sale rounded">-10%</span></div>
                    <!--End Product Label-->
                    <!--Button Action-->
                    <div class="button-hover">
                        <a href="wishlist.html" class="btn btn-wishlist" title="Wishlist"><i class="cpr cp-heart"></i></a>
                        <a class="btn pro-addtocart-popup rounded btn-cart btn-primary" href="shopping-cart.html" title="Add To Cart"><i class="cps cp-shopping-cart"></i></a>
                    </div>
                    <!--End Button Action-->
                </div>
                <!--End Product Image-->
                <!--Product Detail-->
                <div class="product-details d-flex">
                <div class="product-details-in">
                    <div class="h3"><a href="#">ACDelco 335 Professional</a></div>
                    <div class="price-box"><span class="price">$189.00</span></div>
                </div>
                <div class="product-review">
                    <i class="cps cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i><i class="cpr cp-star"></i>
                </div>
            </div>
                <!--End Product Detail-->
            </div>
            <!--End Product Item-->
        </div>
    </div>
</section>
<!--End You may also like products-->
<!--End Cart Content-->