<!doctype html>
<html lang="zxx">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="description">
<title>Blog Left Sidebar - Tacko Auto Parts Bootstrap5 Html Template</title>
<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body class="page-blog-leftsidebar">
    <!--Preloader-->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!--End Preloader-->
    
	<div class="page-wrapper">
    
	<!--TopBar-->
    <div class="top-bar">
    	<div class="container-xl">
        	<div class="row align-items-center">
            	<div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-lg-start justify-content-center">
                	<span class="phone-top"> <a href="tel:123-456-7890"><i class="icon cps cp-phone align-middle px-1"></i> Customer Support<span>: +123-456-7890</span></a></span>
                    <span class="email-id"><a href="mailto:info@example.com"><i class="icon cps cp-envelope-open align-middle px-1"></i> <span>info@example.com</span></a></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 justify-content-end d-none d-lg-flex">
                	<span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
					<ul class="list-inline m-0 social-icons">
                    	<li class="list-inline-item"><a href="#;" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Twitter"><i class="cpb cp-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Google Plus"><i class="cpb cp-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Linked In"><i class="cpb cp-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Youtube"><i class="cpb cp-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End TopBar-->
    <!--Header-->
    <header id="header" class="header-fixed">
    	<div class="header d-flex align-items-center">
            <div class="container-xl">
                <div class="row">
                    <div class="col-2 col-sm-3 col-md-4 d-flex d-lg-none mobile-icons">
                        <!--Mobile Toggle-->
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon cps cp-times"></i>
                            <i class="icon cps cp-bars"></i>
                        </button>
                        <!--End Mobile Toggle-->
                    </div>
                    <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <!--Desktop Logo-->
                        <a class="logo" href="index.html"><img src="assets/images/logo.png" alt="Tacko Auto Parts Bootstrap5 Html Template" title="Tacko Auto Parts Bootstrap5 Html Template" /></a>
                        <!--End Desktop Logo-->
                    </div>
                    <div class="col-4 col-sm-4 col-md-6 col-lg-7 col-xl-7 prs-0 d-none d-lg-block">
                        <!--Desktop Menu-->
                        <nav class="grid__item px-5 pr-0" id="AccessibleNav">
                            <ul id="siteNav" class="site-nav medium left hidearrow">
                                <li class="lvl1"><a href="index.html">Home</a></li>
                                <li class="lvl1"><a href="about-us.html">About</a></li>
                                <li class="lvl1"><a href="services.html">Services</a></li>
                                <li class="lvl1 parent dropdown">
                                    <a href="blog.html" class="active">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-leftsidebar.html" class="site-nav active">Blog Left Sidebar</a></li>
                                        <li><a href="blog-rightsidebar.html" class="site-nav">Blog Right Sidebar</a></li>
                                        <li><a href="blog-listview.html" class="site-nav">Blog List View</a></li>
                                        <li><a href="blog-detail-page.html" class="site-nav">Blog Detail Page</a></li>
                                    </ul>
                                </li>
                                <li class="lvl1"><a href="gallery.html">Gallery</a></li>
                                <li class="lvl1 parent megamenu mdropdown"><a href="shop.html">Shop</a>
                                    <div class="megamenu style1">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <h4 class="title text-uppercase">Shop Pages</h4>
                                                <ul class="m-items lvl-1">
                                                    <li><a href="shop-leftsidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-rightsidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-listview.html" class="site-nav">Shop List View</a></li>
                                                    <li><a href="single-product.html" class="site-nav">Single Product</a></li>
                                                    <li><a href="wishlist.html" class="site-nav">Wishlist</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <h4 class="title text-uppercase">Utility Pages</h4>
                                                <ul class="m-items lvl-1">
                                                    <li><a href="shopping-cart.html" class="site-nav">Shoping Cart</a></li>
                                                    <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                                                    <li><a href="login.html" class="site-nav">Login/Sign In</a></li>
                                                    <li><a href="register.html" class="site-nav">Register</a></li>
                                                    <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="lvl1"><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <div class="col-2 col-sm-3 col-md-4 col-lg-2 col-xl-3 d-flex justify-content-end align-items-center">
                        <!--Right Icons-->
                        <div class="serach-site px-3">
                            <a href="javascript:void(0)" class="btn btn-secondary btn-lg rounded-circle search-icon"><i class="cps cp-search align-middle"></i></a>    
                        </div>
                        <a href="appointment.html" class="btn btn-outline-primary btn-lg rounded-pill make-btn text-nowrap d-none d-lg-block"><i class="cps cp-calendar-check align-middle"></i> <span class="align-middle">Make Appoinment</span></a>
                        <!--End Right Icons-->
                    </div>
                </div>
            </div>
            <!--Search Popup-->
            <div id="search-popup" class="search-drawer">
                <div class="container">
                    <span class="closeSearch cps cp-times"></span>
                    <form class="form minisearch" id="header-search" action="#" method="get">
                        <label class="label"><span>Search</span></label>
                        <div class="control">
                            <div class="searchField">
                                <div class="input-box">
                                    <button type="submit" title="Search" class="action search" disabled=""><i class="icon cps cp-search"></i></button>
                                    <input type="text" name="q" value="" placeholder="Search by keyword or #" class="input-text">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--End Search Popup-->
        </div>
        
    </header>
	<!--Header-->
        
    <!--Mobile Drawer Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
        <div class="closemobileMenu"><i class="icon cps cp-times pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent"><a href="index.html">Home</a></li>
            <li class="lvl1"><a href="about-us.html">About</a></li>
            <li class="lvl1"><a href="services.html">Services</a></li>
            <li class="lvl1 parent">
                <a href="blog.html" class="active">Blog <i class="cps cp-plus"></i></a>
                <ul class="dropdown">
                    <li><a href="blog-leftsidebar.html" class="site-nav active">Blog Left Sidebar</a></li>
                    <li><a href="blog-rightsidebar.html" class="site-nav">Blog Right Sidebar</a></li>
                    <li><a href="blog-listview.html" class="site-nav">Blog List View</a></li>
                    <li><a href="blog-detail-page.html" class="site-nav">Blog Detail Page</a></li>
                </ul>
            </li>
            <li class="lvl1"><a href="gallery.html">Gallery</a></li>
            <li class="lvl1 parent"><a href="shop.html">Shop <i class="cps cp-plus"></i></a>
                <ul>
                    <li>
                        <a class="title text-uppercase" href="shop.html">Shop Pages <i class="cps cp-plus"></i></a>
                        <ul class="m-items">
                            <li><a href="shop-leftsidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                            <li><a href="shop-rightsidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                            <li><a href="shop-listview.html" class="site-nav">Shop List View</a></li>
                            <li><a href="single-product.html" class="site-nav">Single Product</a></li>
                            <li><a href="wishlist.html" class="site-nav">Wishlist</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title text-uppercase" href="shopping-cart.html">Utility Pages <i class="cps cp-plus"></i></a>
                        <ul class="m-items">
                            <li><a href="shopping-cart.html" class="site-nav">Shoping Cart</a></li>
                            <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                            <li><a href="login.html" class="site-nav">Login/Sign In</a></li>
                            <li><a href="register.html" class="site-nav">Register</a></li>
                            <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lvl1"><a href="contact-us.html">Contact</a></li>
            <li class="info">
                <a href="appointment.html"><i class="cps cp-calendar-check align-middle"></i> <span class="align-middle">Make Appoinment</span></a>
            </li>
            <li class="info">
                <span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
            </li>
            <li class="social">
                <div class="list-inline m-0 social-icons">
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Twitter"><i class="cpb cp-twitter"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Google Plus"><i class="cpb cp-google-plus"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Linked In"><i class="cpb cp-linkedin-in"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Youtube"><i class="cpb cp-youtube"></i></a></span>
                </div>
            </li>
        </ul>
    </div>
    <!--End Mobile Drawer Menu-->
    
    <!--Page Content-->
    <main id="page-content">
        
        <!--Page Heading-->
        <div class="page-banner blog-page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Blog Left Sidebar</h1>
                        <p class="sort-title">Attractive articles updated daily</p>
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Heading-->
        
        <!--Breadcrums-->
        <div class="breadcrumbs">
            <div class="container">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-angle-right"></i></span></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog Left Sidebar</li>
                  </ol>
                </nav>
            </div>
        </div>
        <!--End Breadcrums-->
        
        <div class="content-with-sidebar">
            <div class="container">
                <div class="row">
                    <!--Sidebar-->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar">
                        <!--Search Block-->
                        <div class="block search-block clearfix">
                            <div class="block-title"><h3>Search</h3></div>
                            <div class="block-content mt-3 mb-2 my-lg-0">
                                <form action="/search" method="get" class="input-group flex-nowrap" role="search">
                                    <input class="search__input" type="search" name="search" placeholder="Search post..." aria-label="Search" autocomplete="off">
                                    <span class="input-group__btn"><button class="btn btnSearch" type="submit"> Go </button></span>
                                </form>
                            </div>
                        </div>
                        <!--End Search Block-->

                        <!--Category-->
                        <div class="block clearfix block-categories">
                            <div class="block-title"><h3>Category</h3></div>
                            <div class="block-content">
                                <ul class="items">
                                    <li class="lvl-1"><a href="#">Sports Car</a></li>
                                    <li class="lvl-1 active"><a href="#">Accessories</a></li>
                                    <li class="lvl-1"><a href="#">Parts</a></li>
                                    <li class="lvl-1"><a href="#">Susepension</a></li>
                                    <li class="lvl-1"><a href="#">Tools & Parts</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End Category-->

                        <!--Recent Posts-->
                        <div class="block block-recent-post clearfix">
                            <div class="block-title"><h3>Recent Posts</h3></div>
                            <div class="block-content">
                                <div class="list list-sidebar-products">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div class="mini-list-item d-flex mb-10 clearfix">
                                                <div class="mini-view_image">
                                                    <a href="#"><img class="img blur-up lazyload rounded" data-src="assets/images/blog/100x100.jpg" src="assets/images/blog/100x100.jpg" alt="blog"></a>
                                                </div>
                                                <div class="ms-3 details">
                                                    <time datetime="2021-01-28">January 28, 2021</time>
                                                    <a class="title" href="#">Neque porro quisquam est qui dolorem</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <div class="mini-list-item d-flex mb-10 clearfix">
                                                <div class="mini-view_image"><a href="#"><img class="grid-view-item__image blur-up lazyload rounded" data-src="assets/images/blog/100x100.jpg" src="assets/images/blog/100x100.jpg" alt="blog"></a></div>
                                                <div class="ms-3 details">
                                                    <time datetime="2020-02-12">February 12, 2020</time>
                                                    <a class="title" href="#">Polishing Damaging Area</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mini-list-item d-flex mb-10 clearfix">
                                                <div class="mini-view_image"><a href="#"><img class="blur-up lazyload rounded" data-src="assets/images/blog/100x100.jpg" src="assets/images/blog/100x100.jpg" alt="blog"></a></div>
                                                <div class="ms-3 details">
                                                    <time datetime="2021-03-08">March 08, 2021</time>
                                                    <a class="title" href="#">Tips for car Maintanaces</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Recent Posts-->

                        <!--Recent Comments-->
                        <div class="block block-recent clearfix">
                            <div class="block-title"><h3>Recent Comments</h3></div>
                            <div class="block-content">
                                <div class="list list-sidebar-products">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div class="mini-list-item d-flex mb-10 clearfix">
                                                <div class="mini-view_image"><a href="#"><img class="blur-up lazyload rounded" data-src="assets/images/recent-img.jpg" src="assets/images/recent-img.jpg" alt="Image"></a></div>
                                                <div class="ms-3 details">
                                                    <div class="grid-view-item__meta"><strong>Tacko</strong> On <a href="#">Lorem Ipsum</a></div>
                                                    <a class="title" href="#">Lorem Ipsum is simply dummy</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <div class="mini-list-item d-flex mb-10 clearfix">
                                                <div class="mini-view_image"><a href="#"><img class="blur-up lazyload rounded" data-src="assets/images/recent-img.jpg" src="assets/images/recent-img.jpg" alt="Image"></a></div>
                                                <div class="ms-3 details">
                                                    <div class="grid-view-item__meta"><strong>Tacko</strong> On <a href="#">Lorem Ipsum</a></div>
                                                    <a class="title" href="#">All the lorem ipsum generators</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mini-list-item d-flex clearfix">
                                                <div class="mini-view_image"><a href="#"><img class="blur-up lazyload rounded" data-src="assets/images/recent-img.jpg" src="assets/images/recent-img.jpg" alt="Image"></a></div>
                                                <div class="ms-3 details">
                                                    <div class="grid-view-item__meta"><strong>Tacko</strong> On <a href="#">Lorem Ipsum</a></div>
                                                    <a class="title" href="#">There are many variations of passages</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Recent Comments-->

                        <div class="block clearfix block-tags">
                            <div class="block-title"><h3>Popular Tags</h3></div>
                            <div class="block-content">
                                <ul class="m-0">
                                    <li><a href="#">Parts</a></li>
                                    <li><a href="#">Car Parts</a></li>
                                    <li><a href="#">Suspension</a></li>
                                    <li><a href="#">Tools</a></li>
                                    <li><a href="#">Auto parts</a></li>
                                    <li><a href="#">Filter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Sidebar-->

                    <!--Content-->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">

                        <!--Blog Post Section-->
                        <div class="blog-post-list">
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div class="blog-grid">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="item">
                                        <div class="post-thumb">
                                            <a href="blog-detail-page.html" class="d-block">
                                                <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Tips for car Maintanace" title="Tips for car Maintanace" />
                                            </a>
                                        </div>
                                        <div class="post-detail">
                                            <a href="blog-detail-page.html" class="h3 text-uppercase">Neque porro quisquam est qui dolorem ipsum quia</a>
                                            <div class="meta-post">
                                                <span class="date"><i class="cps cp-calendar-alt"></i> January 10, 2022</span> <span class="sep">|</span>
                                                <i class="cps cp-user"></i> <a href="#"><span class="cat">Gayle</span></a> <span class="sep">|</span>
                                                <i class="cps cp-link"></i> <a href="#"><span class="cat">Suspension</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                                <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                            </div>
                                            <div class="post-excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                            </div>
                                            <a href="blog-detail-page.html" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                        </div>
                                    </div>    
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="item">
                                            <div class="post-thumb">
                                                <a href="blog-detail-page.html" class="d-block">
                                                    <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Polishing Damaging Area" title="Polishing Damaging Area" />
                                                </a>
                                            </div>
                                            <div class="post-detail">
                                                <a href="blog-detail-page.html" class="h3 text-uppercase">Polishing Damaging Area</a>
                                                <div class="meta-post">
                                                    <span class="date"><i class="cps cp-calendar-alt"></i> March 10, 2021</span> <span class="sep">|</span>
                                                    <i class="cps cp-user"></i> <a href="#"><span class="cat">chris</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-link"></i> <a href="#"><span class="cat">Suspension</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                                </div>
                                                <div class="post-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                                </div>
                                                <a href="blog-detail-page.html" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="item">
                                            <div class="post-thumb">
                                                <a href="blog-detail-page.html" class="d-block">
                                                    <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Replace Air Filter Regular" title="Replace Air Filter Regular" />
                                                </a>
                                            </div>
                                            <div class="post-detail">
                                                <a href="blog-detail-page.html" class="h3 text-uppercase">Replace Air Filter Regular</a>
                                                <div class="meta-post">
                                                    <span class="date"><i class="cps cp-calendar-alt"></i> April 10, 2021</span> <span class="sep">|</span>
                                                    <i class="cps cp-user"></i> <a href="#"><span class="cat">Jordan</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-link"></i> <a href="#"><span class="cat">Parts</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                                </div>
                                                <div class="post-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                                </div>
                                                <a href="blog-detail-page.html" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="item">
                                            <div class="post-thumb">
                                                <a href="blog-detail-page.html" class="d-block">
                                                    <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Tips for car Maintanaces" title="Tips for car Maintanaces" />
                                                </a>
                                            </div>
                                            <div class="post-detail">
                                                <a href="blog-detail-page.html" class="h3 text-uppercase">Tips for car Maintanaces</a>
                                                <div class="meta-post">
                                                    <span class="date"><i class="cps cp-calendar-alt"></i> February 29, 2021</span> <span class="sep">|</span>
                                                    <i class="cps cp-user"></i> <a href="#"><span class="cat">Pollock</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-link"></i> <a href="#"><span class="cat">Sports</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                                </div>
                                                <div class="post-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                                </div>
                                                <a href="blog-detail-page.html" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="item">
                                            <div class="post-thumb">
                                                <a href="blog-detail-page.html" class="d-block">
                                                    <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Three Types of Painting" title="Three Types of Painting" />
                                                </a>
                                            </div>
                                            <div class="post-detail">
                                                <a href="blog-detail-page.html" class="h3 text-uppercase">Three Types of Painting</a>
                                                <div class="meta-post">
                                                    <span class="date"><i class="cps cp-calendar-alt"></i> July 17, 2021</span> <span class="sep">|</span>
                                                    <i class="cps cp-user"></i> <a href="#"><span class="cat">Sam's</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-link"></i> <a href="#"><span class="cat">Sports</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                                </div>
                                                <div class="post-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                                </div>
                                                <a href="blog-detail-page.html" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="item">
                                            <div class="post-thumb">
                                                <a href="blog-detail-page.html" class="d-block">
                                                    <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Polishing Damaging Area" title="Polishing Damaging Area" />
                                                </a>
                                            </div>
                                            <div class="post-detail">
                                                <a href="blog-detail-page.html" class="h3 text-uppercase">Polishing Damaging Area</a>
                                                <div class="meta-post">
                                                    <span class="date"><i class="cps cp-calendar-alt"></i> January 21, 2021</span> <span class="sep">|</span>
                                                    <i class="cps cp-user"></i> <a href="#"><span class="cat">Smith</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-link"></i> <a href="#"><span class="cat">Sports</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                                    <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                                </div>
                                                <div class="post-excerpt">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                                </div>
                                                <a href="blog-detail-page.html" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Post Section-->

                        <!--Pagination-->
                        <div class="pagination section pt-0">
                            <div class="container">
                                <ul class="d-flex align-items-center justify-content-center">
                                    <li class="prev arrow"><a href="#"><i class="cps cp-chevron-circle-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next arrow"><a href="#"><i class="cps cp-chevron-circle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End Pagination-->  
                    </div>
                    <!--End Content-->
                </div>
            </div>    
        </div>    
        
    </main>
    <!--End Page Content-->
    
    <!--Footer-->
    <footer class="footer" id="footer">
        <div class="footer-top">
            <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="footer-col footer-links clearfix">
                        <h4 class="title">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="footer-col footer-links clearfix">
                        <h4 class="title">Other Links</h4>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="term-condition.html">Term &amp; Conditions</a></li>
                            <li><a href="#">Gift Cards</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="footer-col contact-col">
                        <h4 class="title">Contact</h4>
                        <ul>
                            <li><a href="mailto:info@example.com"><i class="cps cp-envelope-open"></i> info@example.com</a></li>
                            <li><a href="tel:309-437-4122"><i class="cps cp-phone"></i> 309-437-4122</a></li>
                            <li><i class="cps cp-map-marker"></i> 343 Coburn Hollow Road<br>Peoria, Illinois - 61602</li>
                            <li><i class="cps cp-clock"></i> 9:30 am - 6:30 pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                    <div class="footer-col social-col">
                        <h4 class="title">Follow Us</h4>
                        <a href="#;" target="_blank"><i class="cpb cp-facebook-f"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-twitter"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-instagram"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-google-plus"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-linkedin-in"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p>Copyright &copy; 2022 Tacko. All Rights Reserved.</p>
                </div>    
            </div>
        </div>
    </footer>
    <!--End Footer-->
        
    <!--Scoll Top-->
    <span id="site-scroll"><i class="cps cp-arrow-up"></i></span>
    <!--End Scoll Top-->
        
    <div class="modalOverly"></div>
    
    <!-- Including Jquery -->
    <script src="assets/js/vendor/jquery-min.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <!--Including Javascript-->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
   
  	</div><!--page-wrapper-->
</body>
</html>
