<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="description">
<title>Tacko Auto Parts Bootstrap5 Html5 Template</title>
<!--Favicon-->
<link rel="shortcut icon" href="assets/images/favicon.png" />
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body class="home demo1">
    <!--Preloader-->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!--End Preloader-->
	<div class="page-wrapper">
        <!--TopBar-->
        <div class="top-bar">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-lg-start justify-content-center">
                        <span class="phone-top"> <a href="tel:123-456-7890"><i class="icon cps cp-phone align-middle px-1"></i> Customer Support<span>: +123-456-7890</span></a></span>
                        <span class="email-id"><a href="mailto:info@example.com"><i class="icon cps cp-envelope-open align-middle px-1"></i> <span>info@example.com</span></a></span>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 justify-content-end d-none d-lg-flex">
                        <span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
                        <ul class="list-inline m-0 social-icons">
                            <li class="list-inline-item"><a href="#;" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#;" target="_blank" title="Twitter"><i class="cpb cp-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#;" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#;" target="_blank" title="Google Plus"><i class="cpb cp-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="#;" target="_blank" title="Linked In"><i class="cpb cp-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#;" target="_blank" title="Youtube"><i class="cpb cp-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End TopBar-->
        <!--Header-->
        <header id="header" class="header-fixed">
            <div class="header d-flex align-items-center">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-2 col-sm-3 col-md-4 d-flex d-lg-none mobile-icons">
                            <!--Mobile Toggle-->
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon cps cp-times"></i>
                                <i class="icon cps cp-bars"></i>
                            </button>
                            <!--End Mobile Toggle-->
                        </div>
                        <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <!--Desktop Logo-->
                            <a class="logo" href="index.html"><img src="assets/images/logo.png" alt="Tacko Auto Parts Bootstrap5 Html Template" title="Tacko Auto Parts Bootstrap5 Html Template" /></a>
                            <!--End Desktop Logo-->
                        </div>
                        <div class="col-4 col-sm-4 col-md-6 col-lg-7 col-xl-7 prs-0 d-none d-lg-block">
                            <!--Desktop Menu-->
                            <nav class="grid__item px-5 pr-0" id="AccessibleNav">
                                <ul id="siteNav" class="site-nav medium left hidearrow">
                                    <li class="lvl1"><a href="index.html" class="active">Home</a></li>
                                    <li class="lvl1"><a href="about-us.html">About</a></li>
                                    <li class="lvl1"><a href="services.html">Services</a></li>
                                    <li class="lvl1 parent dropdown">
                                        <a href="blog.html">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-leftsidebar.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-rightsidebar.html" class="site-nav">Blog Right Sidebar</a></li>
                                            <li><a href="blog-listview.html" class="site-nav">Blog List View</a></li>
                                            <li><a href="blog-detail-page.html" class="site-nav">Blog Detail Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="lvl1"><a href="gallery.html">Gallery</a></li>
                                    <li class="lvl1 parent megamenu mdropdown"><a href="shop.html">Shop</a>
                                        <div class="megamenu style1">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6">
                                                    <h4 class="title text-uppercase">Shop Pages</h4>
                                                    <ul class="m-items lvl-1">
                                                        <li><a href="shop-leftsidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                                                        <li><a href="shop-rightsidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                                                        <li><a href="shop-listview.html" class="site-nav">Shop List View</a></li>
                                                        <li><a href="single-product.html" class="site-nav">Single Product</a></li>
                                                        <li><a href="wishlist.html" class="site-nav">Wishlist</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <h4 class="title text-uppercase">Utility Pages</h4>
                                                    <ul class="m-items lvl-1">
                                                        <li><a href="shopping-cart.html" class="site-nav">Shoping Cart</a></li>
                                                        <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                                                        <li><a href="login.html" class="site-nav">Login/Sign In</a></li>
                                                        <li><a href="register.html" class="site-nav">Register</a></li>
                                                        <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="lvl1"><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                            <!--End Desktop Menu-->
                        </div>
                        <div class="col-2 col-sm-3 col-md-4 col-lg-2 col-xl-3 d-flex justify-content-end align-items-center">
                            <!--Right Icons-->
                            <div class="serach-site px-3">
                                <a href="javascript:void(0)" class="btn btn-secondary btn-lg rounded-circle search-icon"><i class="cps cp-search align-middle"></i></a>    
                            </div>
                            <a href="appointment.html" class="btn btn-outline-primary btn-lg rounded-pill make-btn text-nowrap d-none d-lg-block"><i class="cps cp-calendar-check align-middle"></i> <span class="align-middle">Make Appoinment</span></a>
                            <!--End Right Icons-->
                        </div>
                    </div>
                </div>
                <!--Search Popup-->
                <div id="search-popup" class="search-drawer">
                    <div class="container">
                        <span class="closeSearch cps cp-times"></span>
                        <form class="form minisearch" id="header-search" action="#" method="get">
                            <label class="label"><span>Search</span></label>
                            <div class="control">
                                <div class="searchField">
                                    <div class="input-box">
                                        <button type="submit" title="Search" class="action search" disabled=""><i class="icon cps cp-search"></i></button>
                                        <input type="text" name="q" value="" placeholder="Search by keyword or #" class="input-text">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End Search Popup-->
            </div>

        </header>
        <!--Header-->

        <!--Mobile Drawer Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon cps cp-times pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                <li class="lvl1"><a href="index.html" class="active">Home</a></li>
                <li class="lvl1"><a href="about-us.html">About</a></li>
                <li class="lvl1"><a href="services.html">Services</a></li>
                <li class="lvl1 parent">
                    <a href="blog.html">Blog <i class="cps cp-plus"></i></a>
                    <ul class="dropdown">
                        <li><a href="blog-leftsidebar.html" class="site-nav">Blog Left Sidebar</a></li>
                        <li><a href="blog-rightsidebar.html" class="site-nav">Blog Right Sidebar</a></li>
                        <li><a href="blog-listview.html" class="site-nav">Blog List View</a></li>
                        <li><a href="blog-detail-page.html" class="site-nav">Blog Detail Page</a></li>
                    </ul>
                </li>
                <li class="lvl1"><a href="gallery.html">Gallery</a></li>
                <li class="lvl1 parent"><a href="shop.html">Shop <i class="cps cp-plus"></i></a>
                    <ul>
                        <li>
                            <a class="title text-uppercase" href="shop.html">Shop Pages <i class="cps cp-plus"></i></a>
                            <ul class="m-items">
                                <li><a href="shop-leftsidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                                <li><a href="shop-rightsidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                                <li><a href="shop-listview.html" class="site-nav">Shop List View</a></li>
                                <li><a href="single-product.html" class="site-nav">Single Product</a></li>
                                <li><a href="wishlist.html" class="site-nav">Wishlist</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="title text-uppercase" href="shopping-cart.html">Utility Pages <i class="cps cp-plus"></i></a>
                            <ul class="m-items">
                                <li><a href="shopping-cart.html" class="site-nav">Shoping Cart</a></li>
                                <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                                <li><a href="login.html" class="site-nav">Login/Sign In</a></li>
                                <li><a href="register.html" class="site-nav">Register</a></li>
                                <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="lvl1"><a href="contact-us.html">Contact</a></li>
                <li class="info">
                    <a href="appointment.html"><i class="cps cp-calendar-check align-middle"></i> <span class="align-middle">Make Appoinment</span></a>
                </li>
                <li class="info">
                    <span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
                </li>
                <li class="social">
                    <div class="list-inline m-0 social-icons">
                        <span class="list-inline-item"><a href="#;" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a></span>
                        <span class="list-inline-item"><a href="#;" target="_blank" title="Twitter"><i class="cpb cp-twitter"></i></a></span>
                        <span class="list-inline-item"><a href="#;" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a></span>
                        <span class="list-inline-item"><a href="#;" target="_blank" title="Google Plus"><i class="cpb cp-google-plus"></i></a></span>
                        <span class="list-inline-item"><a href="#;" target="_blank" title="Linked In"><i class="cpb cp-linkedin-in"></i></a></span>
                        <span class="list-inline-item"><a href="#;" target="_blank" title="Youtube"><i class="cpb cp-youtube"></i></a></span>
                    </div>
                </li>
            </ul>
        </div>
        <!--End Mobile Drawer Menu-->

        <!--Page Content-->
        <main id="page-content">

            <!--Homepage Slideshow-->
            <section class="slideshow home-slideshow p-0">
                <div class="slide">
                    <div class="blur-up lazyload">
                        <img class="blur-up lazyload desktop-hide" data-src="assets/images/slideshow/slideshow-banner1.webp" src="assets/images/slideshow/slideshow-banner1.webp" alt="Say hell to true car buying bliss" title="Say hell to true car buying bliss" width="1920" height="830" />
                        <img class="blur-up lazyload mobile-hide" data-src="assets/images/slideshow/slideshow-banner1-m.webp" src="assets/images/slideshow/slideshow-banner1-m.webp" alt="Say hell to true car buying bliss" title="Say hell to true car buying bliss" width="1110" height="770" />
                        <div class="slideshow-overlay topCenter text-center">
                            <div class="slideshow-content">
                                <div class="wrap-caption animation style1">
                                    <span class="mega-subtitle text-uppercase">Great Cars<span class="sep">/</span>Better Prices<span class="sep">/</span>Convenient Locations</span>
                                    <h2 class="mega-title">Say hello to true car buying bliss</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Homepage Slideshow-->

            <!--Features Section-->
            <section class="section feature-section p-0 position-relative">
                <div class="container">
                    <div class="feature-section-in rounded-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 d-flex flex-column justify-content-center">
                                <div class="feature-content">
                                    <h2 class="title mb-3">Get pre qualified <span>+</span><br>Get your full free credit report</h2>
                                    <h3 class="mb-3"><i class="cps cp-check-square"></i> No Credit hit</h3>
                                    <ul class="items clearfix mb-4 mt-4">
                                        <li>
                                            <div class="icon rounded-circle"><i class="cps cp-sliders-h"></i></div>
                                            <h5>Personalized Solutions</h5>
                                        </li>
                                        <li>
                                            <div class="icon rounded-circle"><i class="cps cp-calculator"></i></div>
                                            <h5>Education</h5>
                                        </li>
                                        <li>
                                            <div class="icon rounded-circle"><i class="cps cp-coins"></i></div>
                                            <h5>Budgeting Tool</h5>
                                        </li>
                                        <li>
                                            <div class="icon rounded-circle"><i class="cps cp-thumbs-up"></i></div>
                                            <h5>Buying Power</h5>
                                        </li>
                                    </ul>
                                    <a href="#;" class="btn btn-lg rounded-pill btn-primary">Get Pre Qualified Now</a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-none align-items-center d-lg-flex d-md-flex">
                                <div class="position-absolute">
                                    <img class="blur-up lazyload" data-src="assets/images/phone-img.png" src="assets/images/phone-img.png" alt="Congratulations!" title="Congratulations!" width="418" height="738"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Features Section-->

            <!--Brand Logo Slider-->
            <section class="section logo-section mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="logo-bar">
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                                <a href="#;"><img class="blur-up lazyload" src="assets/images/brands-logo/logo1.jpg" data-src="assets/images/brands-logo/logo1.jpg" alt="" title="" width="190" height="100"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Brand Logo Slider-->

            <!--Why Choose Us-->
            <section class="section why-choose-section pt-0 position-relative pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title">
                                <h2 class="title text-uppercase">Why Choose Us</h2>
                            </div>
                            <div class="intro-text text-center">
                                <h1>Here is some reason for keeping with us</h1>
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 mt-3">
                            <ul class="items col1">
                                <li class="item">
                                    <div class="title d-flex align-items-center mb-1">
                                        <i class="cps cp-chess-king"></i>
                                        <h4 class="mb-0 text-uppercase">Top Company</h4>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li class="item">
                                    <div class="title d-flex align-items-center mb-1">
                                        <i class="cps cp-user-cog"></i>
                                        <h4 class="mb-0 text-uppercase">Expert Maker</h4>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li class="item">
                                    <div class="title d-flex align-items-center mb-1">
                                        <i class="cps cp-tools"></i>
                                        <h4 class="mb-0 text-uppercase">Quality Services</h4>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3">
                            <div class="why-img text-center">
                                <img class="blur-up lazyload" data-src="assets/images/why-choose-img.webp" src="assets/images/why-choose-img.webp" alt="Why Choose Us" title="Why Choose Us" width="562" height="622" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 mt-3">
                            <ul class="items col2">
                                <li class="item text-end">
                                    <div class="title d-flex align-items-center justify-content-end mb-1">
                                        <h4 class="mb-0 text-uppercase">Best Equipment</h4>
                                        <i class="cps cp-wrench"></i>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li class="item text-end">
                                    <div class="title d-flex align-items-center justify-content-end mb-1">
                                        <h4 class="mb-0 text-uppercase">100% Satisfaction</h4>
                                        <i class="cps cp-thumbs-up"></i>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li class="item text-end">
                                    <div class="title d-flex align-items-center justify-content-end mb-1">
                                        <h4 class="mb-0 text-uppercase">2 Monthly Services</h4>
                                        <i class="cps cp-tools"></i>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Why Choose Us-->

            <!--About Us Section-->
            <section class="section about-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex offset-lg-6">
                            <div class="about-content">
                                <div class="section-title text-start">
                                    <h2 class="title text-uppercase">About Us</h2>
                                </div>
                                <h2 class="text-uppercase white-text mb-3">Feel The Best Experience with Our Rental Deals</h2>
                                <p class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End About Us Section-->

            <!--Number Counter Section-->
            <section class="section counter-section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex align-items-center justify-content-center text-center">
                            <div class="counter-item rounded-3 w-100">
                                <div class="icon"><i class="cps cp-store"></i></div>
                                <div class="counter">
                                    <span class="counter-store">25</span> <span class="plus-sign">+</span>
                                </div>
                                <p class="text-uppercase">Years in Business</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex align-items-center justify-content-center text-center">
                            <div class="counter-item rounded-3 w-100">
                                <div class="icon"><i class="cps cp-smile"></i></div>
                                <div class="counter">
                                    <span class="counter-clients">4784</span> <span class="plus-sign">+</span>
                                </div>
                                <p class="text-uppercase">Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex align-items-center justify-content-center text-center">
                            <div class="counter-item rounded-3 w-100">
                                <div class="icon"><i class="cps cp-taxi"></i></div>
                                <div class="counter">
                                    <span class="counter-rented">5174</span> <span class="plus-sign">+</span>
                                </div>
                                <p class="text-uppercase">Car Repaired</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex align-items-center justify-content-center text-center">
                            <div class="counter-item rounded-3 w-100">
                                <div class="icon"><i class="cps cp-star"></i></div>
                                <div class="counter">
                                    <span class="counter-world">4.9</span>
                                </div>
                                <p class="text-uppercase">Rating</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Number Counter Section-->

            <!--Faq's & Gallery Section-->
            <section class="section pt-0">
                <div class="container">
                    <div class="row">
                        <!--Faq's-->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="faqs-section w-100">
                                <div class="section-title text-start">
                                    <h2 class="title text-uppercase">Customers FAQ's</h2>
                                </div>
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                          <button class="accordion-button text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            When should I get my oil changed ?
                                          </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                To help ensure dependable, trouble-free performance, replace your fuel filter approximately every 30,000 miles or as recommended in your vehicle’s owner’s manual. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                          <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                              When should i Replace My Car's Filter ?
                                          </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              To help ensure dependable, trouble-free performance, replace your fuel filter approximately every 30,000 miles or as recommended in your vehicle’s owner’s manual. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                          </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                How often should I Rotate My Tyres ?
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                To help ensure dependable, trouble-free performance, replace your fuel filter approximately every 30,000 miles or as recommended in your vehicle’s owner’s manual. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Faq's-->
                        <!--Gallery -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex">
                            <div class="gallery-section w-100">
                                <div class="section-title text-start">
                                    <h2 class="title text-uppercase">Our Work Gallery</h2>
                                </div>
                                <div class="row demo-gallery"> 
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="assets/images/gallery/1-l.jpg" data-size="1000x667" data-med="assets/images/gallery/1-l.jpg" data-med-size="1024x1024" data-author="Gratham Bolt" class="col1">
                                          <img src="assets/images/gallery/1-s.webp" data-src="assets/images/gallery/1-s.webp" alt="" class="rounded-3 blur-up lazyload" width="412" height="411" />
                                          <figure>Caption</figure>
                                        </a>
                                        <a href="assets/images/gallery/2-l.jpg" data-size="1000x667" data-med="assets/images/gallery/2-l.jpg" data-med-size="1024x1024" data-author="Prince Charles" class="col2">
                                          <img src="assets/images/gallery/2-s.webp" data-src="assets/images/gallery/2-s.webp" alt="" class="rounded-3 blur-up lazyload" width="190" height="191" />
                                          <figure>Caption</figure>
                                        </a>
                                        <a href="assets/images/gallery/3-l.jpg" data-size="1000x667" data-med="assets/images/gallery/3-l.jpg" data-med-size="1024x1024" data-author="Charles Jordan" class="col2">
                                          <img src="assets/images/gallery/3-s.webp" data-src="assets/images/gallery/3-s.webp" alt="" class="rounded-3 blur-up lazyload" width="190" height="191"/>
                                          <figure>Caption</figure>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--End Gallery -->
                    </div>
                </div>
            </section>
            <!--End Faq's & Gallery Section-->

            <!--Latest Blog Post Section-->
            <section class="section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title text-center">
                                <h2 class="title text-uppercase">Latest Blog & Event</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="latest-blog-post-slider blog-grid">
                                <div class="item">
                                    <div class="post-thumb">
                                        <a href="#" class="d-block">
                                            <img class="blur-up lazyload rounded-top w-100" src="assets/images/blog/post-1-410x260.jpg" data-src="assets/images/blog/post-1-410x260.jpg" alt="Get Your Car Maintanace Tips From Our Experts" title="Get Your Car Maintanace Tips From Our Experts" width="410" height="260" />
                                        </a>
                                    </div>
                                    <div class="post-detail">
                                        <a href="#" class="h3 text-uppercase">Get Your Car Maintanace Tips From Our Experts</a>
                                        <div class="meta-post">
                                            <span class="date"><i class="cps cp-calendar-alt"></i> September 26, 2021</span> <span class="sep">|</span>
                                            <i class="cps cp-user"></i> <a href="#"><span class="cat">Jack</span></a> <span class="sep">|</span>
                                            <i class="cps cp-link"></i> <a href="#"><span class="cat">Accessories</span></a>, <a href="#"><span class="cat">Cars</span></a> <span class="sep">|</span>
                                            <i class="cps cp-tags"></i> <a href="#"><span class="cat">Sports</span></a>, <a href="#"><span class="cat">Moto</span></a>
                                        </div>
                                        <div class="post-excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                        </div>
                                        <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-thumb">
                                        <a href="#" class="d-block">
                                            <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Here to know how save your vehicle petrol & Diesel" title="Here to know how save your vehicle petrol & Diesel" width="410" height="260" />
                                        </a>
                                    </div>
                                    <div class="post-detail">
                                        <a href="#" class="h3 text-uppercase">Here to know how save your vehicle petrol & Diesel</a>
                                        <div class="meta-post">
                                            <span class="date"><i class="cps cp-calendar-alt"></i> October 22, 2021</span> <span class="sep">|</span>
                                            <i class="cps cp-user"></i> <a href="#"><span class="cat">Mike</span></a> <span class="sep">|</span>
                                            <i class="cps cp-link"></i> <a href="#"><span class="cat">Interior</span></a>, <a href="#"><span class="cat">Exterior</span></a> <span class="sep">|</span>
                                            <i class="cps cp-tags"></i> <a href="#"><span class="cat">Parts</span></a>, <a href="#"><span class="cat">Electric</span></a>
                                        </div>
                                        <div class="post-excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                        </div>
                                        <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-thumb">
                                        <a href="#" class="d-block">
                                            <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Tips for car Maintanace" title="Tips for car Maintanace" width="410" height="260" />
                                        </a>
                                    </div>
                                    <div class="post-detail">
                                        <a href="#" class="h3 text-uppercase">Tips for car Maintanace</a>
                                        <div class="meta-post">
                                            <span class="date"><i class="cps cp-calendar-alt"></i> December 10, 2022</span> <span class="sep">|</span>
                                            <i class="cps cp-user"></i> <a href="#"><span class="cat">Smith</span></a> <span class="sep">|</span>
                                            <i class="cps cp-link"></i> <a href="#"><span class="cat">Suspension</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                            <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                        </div>
                                        <div class="post-excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                        </div>
                                        <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post-thumb">
                                        <a href="#" class="d-block">
                                            <img class="blur-up lazyload rounded-top w-100" data-src="assets/images/blog/post-1-410x260.jpg" src="assets/images/blog/post-1-410x260.jpg" alt="Tips for car Maintanace" title="Tips for car Maintanace" width="410" height="260" />
                                        </a>
                                    </div>
                                    <div class="post-detail">
                                        <a href="#" class="h3 text-uppercase">Neque porro quisquam est qui dolorem ipsum quia</a>
                                        <div class="meta-post">
                                            <span class="date"><i class="cps cp-calendar-alt"></i> January 10, 2022</span> <span class="sep">|</span>
                                            <i class="cps cp-user"></i> <a href="#"><span class="cat">Gayle</span></a> <span class="sep">|</span>
                                            <i class="cps cp-link"></i> <a href="#"><span class="cat">Suspension</span></a>, <a href="#"><span class="cat">Car Parts</span></a> <span class="sep">|</span>
                                            <i class="cps cp-tags"></i> <a href="#"><span class="cat">Auto</span></a>
                                        </div>
                                        <div class="post-excerpt">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                        </div>
                                        <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-chevron-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Latest Blog Post Section-->

            <!--Newsletter Section-->
            <section class="section newsletter-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title text-center">
                                <h2 class="title text-uppercase">Subscribe to Our Newsletter <br>for New updates</h2>
                            </div>
                            <form action="#" method="post">
                                <p>to stay up-to-date on our promotions, discounts, sales, special offers and more.</p>
                                <div class="input-group">
                                    <input type="email" class="newsletter-input" name="email" value="" placeholder="Enter email address..." required>
                                    <span class="news-btn">
                                        <button type="submit" class="btn" name="commit" id="Subscribe">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--End Newsletter Section-->

        </main><!--End Page Content-->

        <!--Footer-->
        <footer class="footer" id="footer">
            <div class="footer-top">
                <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="footer-col footer-links clearfix">
                            <h4 class="title">Quick Links</h4>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                            <ul>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="footer-col footer-links clearfix">
                            <h4 class="title">Other Links</h4>
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="term-condition.html">Term &amp; Conditions</a></li>
                                <li><a href="#">Gift Cards</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="footer-col contact-col">
                            <h4 class="title">Contact</h4>
                            <ul>
                                <li><a href="mailto:info@example.com"><i class="cps cp-envelope-open"></i> info@example.com</a></li>
                                <li><a href="tel:309-437-4122"><i class="cps cp-phone"></i> 309-437-4122</a></li>
                                <li><i class="cps cp-map-marker"></i> 343 Coburn Hollow Road<br>Peoria, Illinois - 61602</li>
                                <li><i class="cps cp-clock"></i> 9:30 am - 6:30 pm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                        <div class="footer-col social-col">
                            <h4 class="title">Follow Us</h4>
                            <a href="#;" target="_blank"><i class="cpb cp-facebook-f"></i></a>
                            <a href="#;" target="_blank"><i class="cpb cp-twitter"></i></a>
                            <a href="#;" target="_blank"><i class="cpb cp-instagram"></i></a>
                            <a href="#;" target="_blank"><i class="cpb cp-google-plus"></i></a>
                            <a href="#;" target="_blank"><i class="cpb cp-linkedin-in"></i></a>
                            <a href="#;" target="_blank"><i class="cpb cp-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p>Copyright &copy; 2022 Tacko. All Rights Reserved.</p>
                    </div>    
                </div>
            </div>
        </footer>
        <!--End Footer-->

        <!--Scoll Top-->
        <span id="site-scroll"><i class="cps cp-arrow-up"></i></span>
        <!--End Scoll Top-->
        
        <!--Newsletter Popup-->
        <div id="newsletter-modal" class="style1 mfp-with-anim mfp-hide">
            <div class="newsletter-popup d-flex flex-column">
                <div class="newsltr-img"><img class="blur-up lazyload" src="assets/images/newsletter-img.webp" data-src="assets/images/newsletter-img.webp" alt="" width="431" height="167"></div>
                <div class="newsltr-text text-center">
                    <div class="wraptext">
                        <h2>Subscribe to Our Newsletter</h2>
                        <p class="sub-text">Stay Informed! Monthly Tips, Tracks and Discount. </p>
                        <form action="#" class="mcNewsletter" method="post">
                            <div class="input-group">
                                <input type="email" class="newsletter__input" name="EMAIL" value="" placeholder="Email address" required>
                                <button type="submit" class="btn btn-secondary w-100 rounded" name="commit"><span>Subscribe</span></button>
                            </div>
                        </form>
                        <ul class="social-icons mt-3">
                            <li><a href="#;" target="_blank"><i class="cpb cp-facebook-f"></i></a></li>
                            <li><a href="#;" target="_blank"><i class="cpb cp-twitter"></i></a></li>
                            <li><a href="#;" target="_blank"><i class="cpb cp-instagram"></i></a></li>
                            <li><a href="#;" target="_blank"><i class="cpb cp-google-plus"></i></a></li>
                            <li><a href="#;" target="_blank"><i class="cpb cp-linkedin-in"></i></a></li>
                            <li><a href="#;" target="_blank"><i class="cpb cp-youtube"></i></a></li>
                        </ul>
                        <p class="checkboxlink">
                            <input type="checkbox" id="dontshow" class="form-check-input m-0">
                            <label for="dontshow" class="mx-2 align-middle">Don't show this popup again</label>
                        </p>
                  </div>
                </div>
            </div>
                <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
	    <!--End Newsletter Popup-->

        <div class="modalOverly"></div>

        <!-- Including Jquery -->
        <script src="assets/js/vendor/jquery-min.js"></script>
        <script src="assets/js/vendor/js.cookie.js"></script>
        <!--Including Javascript-->
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        <!-- Photoswipe Gallery -->
        <script src="assets/js/vendor/photoswipe.min.js"></script>
        <script src="assets/js/vendor/photoswipe.js"></script>

        <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
              <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
              </div>
              <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                  <div class="pswp__caption__center">
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <!--Newsletter Popup Cookies-->
         <script>
            function newsletter_popup(){
                var cookieSignup="cookieSignup", date=new Date();
                if($.cookie(cookieSignup) !='true' && window.location.href.indexOf("challenge#newsletter-modal") <=-1) {
                    setTimeout( function() {
                        $.magnificPopup.open( {
                            items: {
                                src: '#newsletter-modal'
                            }
                            , type:'inline', removalDelay:300, mainClass: 'mfp-zoom-in'
                        }
                        );
                    }
                    , 5000);
                }
                $.magnificPopup.instance.close=function () {
                    if($("#dontshow").prop("checked")==true) {
                        $.cookie(cookieSignup, 'true', {
                            expires: 1, path: '/'
                        }
                    );
                }
                    $.magnificPopup.proto.close.call(this);
                }
            }
            newsletter_popup();
        </script>
         <!--End Newsletter Popup Cookies-->
   
  	</div><!--page-wrapper-->
</body>
</html>
