<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="description">
<title>Wishlist - Tacko Auto Parts Bootstrap5 Html5 Template</title>
<!-- Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png" />
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/plugins.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body class="page-wishlist">
    <!--Preloader-->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!--End Preloader-->
    
	<div class="page-wrapper">
    
	<!--TopBar-->
    <div class="top-bar">
    	<div class="container-xl">
        	<div class="row align-items-center">
            	<div class="col-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-lg-start justify-content-center">
                	<span class="phone-top"> <a href="tel:123-456-7890"><i class="icon cps cp-phone align-middle px-1"></i> Customer Support<span>: +123-456-7890</span></a></span>
                    <span class="email-id"><a href="mailto:info@example.com"><i class="icon cps cp-envelope-open align-middle px-1"></i> <span>info@example.com</span></a></span>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 justify-content-end d-none d-lg-flex">
                	<span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
					<ul class="list-inline m-0 social-icons">
                    	<li class="list-inline-item"><a href="#;" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Twitter"><i class="cpb cp-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Google Plus"><i class="cpb cp-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Linked In"><i class="cpb cp-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a href="#;" target="_blank" title="Youtube"><i class="cpb cp-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End TopBar-->
    <!--Header-->
    <header id="header" class="header-fixed">
    	<div class="header d-flex align-items-center">
            <div class="container-xl">
                <div class="row">
                    <div class="col-2 col-sm-3 col-md-4 d-flex d-lg-none mobile-icons">
                        <!--Mobile Toggle-->
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon cps cp-times"></i>
                            <i class="icon cps cp-bars"></i>
                        </button>
                        <!--End Mobile Toggle-->
                    </div>
                    <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <!--Desktop Logo-->
                        <a class="logo" href="index.html"><img src="assets/images/logo.png" alt="Tacko Auto Parts Bootstrap5 Html Template" title="Tacko Auto Parts Bootstrap5 Html Template" /></a>
                        <!--End Desktop Logo-->
                    </div>
                    <div class="col-4 col-sm-4 col-md-6 col-lg-7 col-xl-7 prs-0 d-none d-lg-block">
                        <!--Desktop Menu-->
                        <nav class="grid__item px-5 pr-0" id="AccessibleNav">
                            <ul id="siteNav" class="site-nav medium left hidearrow">
                                <li class="lvl1"><a href="index.html">Home</a></li>
                                <li class="lvl1"><a href="about-us.html">About</a></li>
                                <li class="lvl1"><a href="services.html">Services</a></li>
                                <li class="lvl1 parent dropdown">
                                    <a href="blog.html">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-leftsidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-rightsidebar.html" class="site-nav">Blog Right Sidebar</a></li>
                                        <li><a href="blog-listview.html" class="site-nav">Blog List View</a></li>
                                        <li><a href="blog-detail-page.html" class="site-nav">Blog Detail Page</a></li>
                                    </ul>
                                </li>
                                <li class="lvl1"><a href="gallery.html">Gallery</a></li>
                                <li class="lvl1 parent megamenu mdropdown"><a href="shop.html" class="active">Shop</a>
                                    <div class="megamenu style1">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6">
                                                <h4 class="title text-uppercase">Shop Pages</h4>
                                                <ul class="m-items lvl-1">
                                                    <li><a href="shop-leftsidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                                                    <li><a href="shop-rightsidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                                                    <li><a href="shop-listview.html" class="site-nav">Shop List View</a></li>
                                                    <li><a href="single-product.html" class="site-nav">Single Product</a></li>
                                                    <li><a href="wishlist.html" class="site-nav active">Wishlist</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <h4 class="title text-uppercase">Utility Pages</h4>
                                                <ul class="m-items lvl-1">
                                                    <li><a href="shopping-cart.html" class="site-nav">Shoping Cart</a></li>
                                                    <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                                                    <li><a href="login.html" class="site-nav">Login/Sign In</a></li>
                                                    <li><a href="register.html" class="site-nav">Register</a></li>
                                                    <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="lvl1"><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!--End Desktop Menu-->
                    </div>
                    <div class="col-2 col-sm-3 col-md-4 col-lg-2 col-xl-3 d-flex justify-content-end align-items-center">
                        <!--Right Icons-->
                        <div class="serach-site px-3">
                            <a href="javascript:void(0)" class="btn btn-secondary btn-lg rounded-circle search-icon"><i class="cps cp-search align-middle"></i></a>    
                        </div>
                        <a href="appointment.html" class="btn btn-outline-primary btn-lg rounded-pill make-btn text-nowrap d-none d-lg-block"><i class="cps cp-calendar-check align-middle"></i> <span class="align-middle">Make Appoinment</span></a>
                        <!--End Right Icons-->
                    </div>
                </div>
            </div>
            <!--Search Popup-->
            <div id="search-popup" class="search-drawer">
                <div class="container">
                    <span class="closeSearch cps cp-times"></span>
                    <form class="form minisearch" id="header-search" action="#" method="get">
                        <label class="label"><span>Search</span></label>
                        <div class="control">
                            <div class="searchField">
                                <div class="input-box">
                                    <button type="submit" title="Search" class="action search" disabled=""><i class="icon cps cp-search"></i></button>
                                    <input type="text" name="q" value="" placeholder="Search by keyword or #" class="input-text">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--End Search Popup-->
        </div>
        
    </header>
	<!--Header-->
        
    <!--Mobile Drawer Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
        <div class="closemobileMenu"><i class="icon cps cp-times pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent"><a href="index.html">Home</a></li>
            <li class="lvl1"><a href="about-us.html">About</a></li>
            <li class="lvl1"><a href="services.html">Services</a></li>
            <li class="lvl1 parent">
                <a href="blog.html">Blog <i class="cps cp-plus"></i></a>
                <ul class="dropdown">
                    <li><a href="blog-leftsidebar.html" class="site-nav">Blog Left Sidebar</a></li>
                    <li><a href="blog-rightsidebar.html" class="site-nav">Blog Right Sidebar</a></li>
                    <li><a href="blog-listview.html" class="site-nav">Blog List View</a></li>
                    <li><a href="blog-detail-page.html" class="site-nav">Blog Detail Page</a></li>
                </ul>
            </li>
            <li class="lvl1"><a href="gallery.html">Gallery</a></li>
            <li class="lvl1 parent"><a href="shop.html">Shop <i class="cps cp-plus"></i></a>
                <ul>
                    <li>
                        <a class="title text-uppercase" href="shop.html">Shop Pages <i class="cps cp-plus"></i></a>
                        <ul class="m-items">
                            <li><a href="shop-leftsidebar.html" class="site-nav">Shop Left Sidebar</a></li>
                            <li><a href="shop-rightsidebar.html" class="site-nav">Shop Right Sidebar</a></li>
                            <li><a href="shop-listview.html" class="site-nav">Shop List View</a></li>
                            <li><a href="single-product.html" class="site-nav">Single Product</a></li>
                            <li><a href="wishlist.html" class="site-nav active">Wishlist</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="title text-uppercase" href="shopping-cart.html">Utility Pages <i class="cps cp-plus"></i></a>
                        <ul class="m-items">
                            <li><a href="shopping-cart.html" class="site-nav">Shoping Cart</a></li>
                            <li><a href="checkout.html" class="site-nav">Checkout</a></li>
                            <li><a href="login.html" class="site-nav">Login/Sign In</a></li>
                            <li><a href="register.html" class="site-nav">Register</a></li>
                            <li><a href="forgot-password.html" class="site-nav">Forgot Password</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="lvl1"><a href="contact-us.html">Contact</a></li>
            <li class="info">
                <a href="appointment.html"><i class="cps cp-calendar-check align-middle"></i> <span class="align-middle">Make Appoinment</span></a>
            </li>
            <li class="info">
                <span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
            </li>
            <li class="social">
                <div class="list-inline m-0 social-icons">
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Facebook"><i class="cpb cp-facebook-f"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Twitter"><i class="cpb cp-twitter"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Instagram"><i class="cpb cp-instagram"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Google Plus"><i class="cpb cp-google-plus"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Linked In"><i class="cpb cp-linkedin-in"></i></a></span>
                    <span class="list-inline-item"><a href="#;" target="_blank" title="Youtube"><i class="cpb cp-youtube"></i></a></span>
                </div>
            </li>
        </ul>
    </div>
    <!--End Mobile Drawer Menu-->
    
    <!--Page Content-->
    <main id="page-content">
        
        <!--Page Heading-->
        <div class="page-banner cart-page-banner gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-1">Wishlist</h1>
                        <!--Breadcrums-->
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-angle-right"></i></span></li>
                            <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                          </ol>
                        </nav>
                        <!--End Breadcrums-->
                    </div>
                </div>
            </div>
        </div>
        <!--End Page Heading-->
    
        <!--Main Content-->
        <div class="container">
            <!--Wishlist Content-->
            <form action="#" method="post">
                <div class="wishlist-table table-content text-nowrap table-responsive my-4">
                    <table class="table table-bordered align-middle mb-5">
                        <thead class="bg-light thead-bg">
                            <tr>
                                <th class="product-name text-center alt-font">Remove</th>
                                <th class="product-price text-center alt-font">Images</th>
                                <th class="product-name alt-font">Product</th>
                                <th class="product-price text-center alt-font">Price</th>
                                <th class="stock-status text-center alt-font">Stock Status</th>
                                <th class="product-subtotal text-center alt-font">Add to Cart</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp-lg cps cp-trash-alt"></i></a></td>
                                <td class="product-thumbnail text-center">
                                    <a href="product-layout1.html"><img src="assets/images/products/100x100.jpg" alt="" title="" width="100"></a>
                                </td>
                                <td class="product-name"><h6 class="mb-0"><a href="product-layout1.html">Cylinder Assy,brake Master</a></h6></td>
                                <td class="product-price text-center"><span class="amount fw-500">$165.00</span></td>
                                <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                                <td class="product-subtotal text-center"><button type="button" class="btn btn--small btn-secondary rounded-1 text-nowrap">Add To Cart</button></td>
                            </tr>
                            <tr>
                                <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp-lg cps cp-trash-alt"></i></a></td>
                                <td class="product-thumbnail text-center">
                                    <a href="product-layout1.html"><img src="assets/images/products/100x100.jpg" alt="" title="" width="100"></a>
                                </td>
                                <td class="product-name"><h6 class="mb-0"><a href="product-layout1.html">Brake Booster</a></h6></td>
                                <td class="product-price text-center"><span class="amount fw-500">$150.00</span></td>
                                <td class="stock text-center"><span class="text-out-stock">Out Of stock</span></td>
                                <td class="product-subtotal text-center"><button type="button" class="btn btn--small rounded-1 text-nowrap soldOutBtn">Out Of stock</button></td>
                            </tr>
                            <tr>
                                <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp-lg cps cp-trash-alt"></i></a></td>
                                <td class="product-thumbnail text-center">
                                    <a href="product-layout1.html"><img src="assets/images/products/100x100.jpg" alt="" title="" width="100"></a>
                                </td>
                                <td class="product-name"><h6 class="mb-0"><a href="product-layout1.html">Caliper Minor Set</a></h6></td>
                                <td class="product-price text-center"><span class="amount fw-500">$150.00</span></td>
                                <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                                <td class="product-subtotal text-center"><button type="button" class="btn btn--small btn-secondary rounded-1 text-nowrap">Add To Cart</button></td>
                            </tr>
                            <tr>
                                <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp-lg cps cp-trash-alt"></i></a></td>
                                <td class="product-thumbnail text-center">
                                    <a href="product-layout1.html"><img src="assets/images/products/100x100.jpg" alt="" title="" width="100"></a>
                                </td>
                                <td class="product-name"><h6 class="mb-0"><a href="product-layout1.html">Seal, Brake Caliper Piston</a></h6></td>
                                <td class="product-price text-center"><span class="amount fw-500">$99.00</span></td>
                                <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                                <td class="product-subtotal text-center"><button type="button" class="btn btn--small btn-secondary rounded-1 text-nowrap">Add To Cart</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <!--End Wishlist Content-->
        </div>
        
    </main><!--End Page Content-->
    
    <!--Footer-->
    <footer class="footer" id="footer">
        <div class="footer-top">
            <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="footer-col footer-links clearfix">
                        <h4 class="title">Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                        <ul>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="footer-col footer-links clearfix">
                        <h4 class="title">Other Links</h4>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="term-condition.html">Term &amp; Conditions</a></li>
                            <li><a href="#">Gift Cards</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="footer-col contact-col">
                        <h4 class="title">Contact</h4>
                        <ul>
                            <li><a href="mailto:info@example.com"><i class="cps cp-envelope-open"></i> info@example.com</a></li>
                            <li><a href="tel:309-437-4122"><i class="cps cp-phone"></i> 309-437-4122</a></li>
                            <li><i class="cps cp-map-marker"></i> 343 Coburn Hollow Road<br>Peoria, Illinois - 61602</li>
                            <li><i class="cps cp-clock"></i> 9:30 am - 6:30 pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                    <div class="footer-col social-col">
                        <h4 class="title">Follow Us</h4>
                        <a href="#;" target="_blank"><i class="cpb cp-facebook-f"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-twitter"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-instagram"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-google-plus"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-linkedin-in"></i></a>
                        <a href="#;" target="_blank"><i class="cpb cp-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p>Copyright &copy; 2022 Tacko. All Rights Reserved.</p>
                </div>    
            </div>
        </div>
    </footer>
    <!--End Footer-->
        
    <!--Scoll Top-->
    <span id="site-scroll"><i class="cps cp-arrow-up"></i></span>
    <!--End Scoll Top-->
        
    <div class="modalOverly"></div>
    
    <!-- Including Jquery -->
    <script src="assets/js/vendor/jquery-min.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <!--Including Javascript-->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
   
  	</div><!--page-wrapper-->
</body>
</html>
