            <!--Page Banner-->
            <div class="page-banner blog-page-banner text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-uppercase">Blog Listing With Sidebar</h1>
                            <!--Breadcrums-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                                    <li class="breadcrumb-item active" aria-current="page">Blog Listing With Sidebar</li>
                                </ol>
                            </nav>
                            <!--End Breadcrums-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Page Banner-->
            
            <!--Blog Grid-->
            <div class="section">
                <div class="container">
                    <div class="row">
                         <!--Sidebar-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 sidebar order-2 order-lg-0 order-md-2 order-sm-2">
                            <!--Search Block-->
                            <div class="block search-block clearfix">
                                <div class="block-content mt-3 mb-2 my-lg-0">
                                    <form action="#" method="get" class="input-group flex-nowrap" role="search">
                                        <input class="search__input" type="search" name="search" placeholder="Search post..." aria-label="Search" autocomplete="off">
                                        <span class="input-group__btn"><button class="btn btnSearch" type="submit"><i class="cp cp-search"></i></button></span>
                                    </form>
                                </div>
                            </div>
                            <!--End Search Block-->
                            
                            <!--Category Block-->
                            <div class="block clearfix block-categories">
                                <div class="block-title"><h3>Category</h3></div>
                                <div class="block-content">
                                    <ul class="items">
                                        <li class="lvl-1"><a href="#">Break And Repairs</a></li>
                                        <li class="lvl-1 active"><a href="#">Car Tunning</a></li>
                                        <li class="lvl-1"><a href="#">Engine Care</a></li>
                                        <li class="lvl-1"><a href="#">Road Assistance</a></li>
                                        <li class="lvl-1"><a href="#">Tyre Care</a></li>
                                        <li class="lvl-1"><a href="#">Workshop</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Category Block-->
                            
                            <!--Latest Post Block-->
                            <div class="block block-recent-post clearfix">
                                <div class="block-title"><h3>Latest Post</h3></div>
                                <div class="block-content">
                                    <div class="list list-sidebar-products">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <div class="mini-list-item d-flex mb-10 clearfix">
                                                    <div class="mini-view_image flex-1">
                                                        <a href="#"><img class="img blur-up rounded-3 lazyload" data-src="/assets/images/blog/80x80.jpg" src="/assets/images/blog/80x80.jpg" alt="blog"></a>
                                                    </div>
                                                    <div class="ms-3 details flex-1">
                                                        <a class="title" href="#">Car Maintenance Services or Mascara?</a>
                                                        <span class="date"><i class="cps cp-calendar-check"></i> October 10, 2021</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="mini-list-item d-flex mb-10 clearfix">
                                                    <div class="mini-view_image flex-1"><a href="#"><img class="blur-up rounded-3 lazyload" data-src="/assets/images/blog/80x80.jpg" src="/assets/images/blog/80x80.jpg" alt="blog"></a></div>
                                                    <div class="ms-3 details flex-1">
                                                        <a class="title" href="#">How to jump start your car Maintenance?</a>
                                                        <span class="date"><i class="cps cp-calendar-check"></i> November 25, 2021</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="mini-list-item d-flex mb-10 clearfix">
                                                    <div class="mini-view_image flex-1"><a href="#"><img class="blur-up rounded-3 lazyload" data-src="/assets/images/blog/80x80.jpg" src="/assets/images/blog/80x80.jpg" alt="blog"></a></div>
                                                    <div class="ms-3 details flex-1">
                                                        <a class="title" href="#">Get Some Useful Car Maintenance Tips</a>
                                                        <span class="date"><i class="cps cp-calendar-check"></i> December 29, 2021</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="mini-list-item d-flex mb-10 clearfix">
                                                    <div class="mini-view_image flex-1"><a href="#"><img class="blur-up rounded-3 lazyload" data-src="/assets/images/blog/80x80.jpg" src="/assets/images/blog/80x80.jpg" alt="blog"></a></div>
                                                    <div class="ms-3 details flex-1">
                                                        <a class="title" href="#">Here to Know How Save Your Vehicle Petrol</a>
                                                        <span class="date"><i class="cps cp-calendar-check"></i> January 14, 2021</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="mini-list-item d-flex mb-10 clearfix">
                                                    <div class="mini-view_image flex-1"><a href="#"><img class="blur-up rounded-3 lazyload" data-src="/assets/images/blog/80x80.jpg" src="/assets/images/blog/80x80.jpg" alt="blog"></a></div>
                                                    <div class="ms-3 details flex-1">
                                                        <a class="title" href="#">Simulation of Customers' Booking Behavior…</a>
                                                        <span class="date"><i class="cps cp-calendar-check"></i> February 20, 2021</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Latest Post Block-->
                            
                            <!--Tags Block-->
                            <div class="block clearfix block-tags">
                                <div class="block-title"><h3>Tags</h3></div>
                                <div class="block-content">
                                    <ul class="m-0">
                                        <li><a href="#">Parts</a></li>
                                        <li><a href="#">Car Parts</a></li>
                                        <li><a href="#">Suspension</a></li>
                                        <li><a href="#">Tools</a></li>
                                        <li><a href="#">Auto parts</a></li>
                                        <li><a href="#">Filter</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Tags Block-->
                        </div>
                        <!--End Sidebar-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 main-col blog-page-list">
                            <div class="row blog-list blog-page-list">
                                <div class="col-12 mb-5">
                                    <div class="item text-center">
                                        <div class="post-thumb rounded-3 mb-4">
                                            <a href="#" class="d-block">
                                                <img class="blur-up lazyload rounded-3 w-100" src="/assets/images/blog/1290x520.jpg" data-src="/assets/images/blog/1290x520.jpg" alt="Car Maintenance Services or Mascara?" title="Car Maintenance Services or Mascara?" width="410" height="220" />
                                            </a>
                                        </div>
                                        <div class="post-detail">
                                            <a href="#" class="h3">Car Maintenance Services or Mascara?</a>
                                            <div class="post-excerpt">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </div>
                                            <div class="meta-post d-flex align-items-center justify-content-between mt-4">
                                                <span class="date"><i class="cps cp-calendar-check"></i> September 26, 2021</span>
                                                <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-caret-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-5">
                                    <div class="item text-center">
                                        <div class="post-thumb rounded-3 mb-4">
                                            <a href="#" class="d-block">
                                                <img class="blur-up lazyload rounded-3 w-100" src="/assets/images/blog/1290x520.jpg" data-src="/assets/images/blog/1290x520.jpg" alt="How to jump start your car Maintenance?" title="How to jump start your car Maintenance?" width="410" height="220" />
                                            </a>
                                        </div>
                                        <div class="post-detail">
                                            <a href="#" class="h3">How to jump start your car Maintenance?</a>
                                            <div class="post-excerpt">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </div>
                                            <div class="meta-post d-flex align-items-center justify-content-between mt-4">
                                                <span class="date"><i class="cps cp-calendar-check"></i> October 10, 2020</span>
                                                <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-caret-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-5">
                                    <div class="item text-center">
                                        <div class="post-thumb rounded-3 mb-4">
                                            <a href="#" class="d-block">
                                                <img class="blur-up lazyload rounded-3 w-100" src="/assets/images/blog/1290x520.jpg" data-src="/assets/images/blog/1290x520.jpg" alt="Get Some Useful Car Maintenance Tips" title="Get Some Useful Car Maintenance Tips" width="410" height="220" />
                                            </a>
                                        </div>
                                        <div class="post-detail">
                                            <a href="#" class="h3">Get Some Useful Car Maintenance Tips</a>
                                            <div class="post-excerpt">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </div>
                                            <div class="meta-post d-flex align-items-center justify-content-between mt-4">
                                                <span class="date"><i class="cps cp-calendar-check"></i> November 21, 2021</span>
                                                <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-caret-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-5">
                                    <div class="item text-center">
                                        <div class="post-thumb rounded-3 mb-4">
                                            <a href="#" class="d-block">
                                                <img class="blur-up lazyload rounded-3 w-100" src="/assets/images/blog/1290x520.jpg" data-src="/assets/images/blog/1290x520.jpg" alt="Here to Know How Save Your Vehicle Petrol" title="Here to Know How Save Your Vehicle Petrol" width="410" height="220" />
                                            </a>
                                        </div>
                                        <div class="post-detail">
                                            <a href="#" class="h3">Here to Know How Save Your Vehicle Petrol</a>
                                            <div class="post-excerpt">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                            </div>
                                            <div class="meta-post d-flex align-items-center justify-content-between mt-4">
                                                <span class="date"><i class="cps cp-calendar-check"></i> December 31, 2021</span>
                                                <a href="#" class="readmore d-flex align-items-center"><span>Read More</span> <i class="cps cp-caret-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Pagination-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="pagination">
                                    <div class="container">
                                        <ul class="d-flex align-items-center justify-content-center">
                                            <li class="prev arrow"><a href="#"><i class="cps cp-arrow-left"></i></a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">...</a></li>
                                            <li><a href="#">5</a></li>
                                            <li class="next arrow"><a href="#"><i class="cps cp-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!--End Pagination-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Blog Grid-->
            