  <!--Page Banner-->
  <div class="page-banner login-page-banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">Forgot Password</h1>
                <!--Breadcrums-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                        <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                    </ol>
                </nav>
                <!--End Breadcrums-->
            </div>
        </div>
    </div>
</div>
<!--End Page Banner-->

<div class="section login-page-in">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="mb-4 box box-login">
                    <form method="post" action="#" class="login-form">	
                        <h3 class="title text-uppercase">Forgot Password</h3>
                        <p class="mb-3">Please enter your email address below. You will receive a link to reset your password.</p>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                <div class="form-group">
                                    <input type="email" name="customer[email]" placeholder="Enter your email adress" id="CustomerEmail" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <input type="submit" class="btn btn-primary rounded me-auto" value="Password Reset">
                                    <a href="login-register"><i class="cps cp-arrow-left"></i> Back To Login</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
