<div class="top-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div
                class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 d-flex justify-content-lg-start justify-content-center">
                <span class="phone-top d-flex align-items-center"> <a href="/tel:123-456-7890"><i
                            class="icon cps cp-phone align-middle px-1"></i> <span
                            class="label">+123-456-7890</span></a></span>
                <span class="language-dropdown top-dropdown d-flex align-items-center">
                    <i class="cps cp-language"></i>
                    <select class="form-select" aria-label="select">
                        <option selected>English</option>
                        <option value="1">French</option>
                        <option value="2">German</option>
                        <option value="3">Spanish</option>
                    </select>
                </span>
                <span class="currency-dropdown top-dropdown d-flex align-items-center">
                    <i class="cps cp-coins"></i>
                    <select class="form-select" aria-label="select">
                        <option selected>USD</option>
                        <option value="1">AUD</option>
                        <option value="2">INR</option>
                        <option value="3">EUR</option>
                        <option value="3">GBP</option>
                    </select>
                </span>
            </div>
            <div class="col-xl-4 d-md-flex d-none justify-content-center p-0">
                <div class="shipping-msg"><b>15%</b> every products we have a great offer for you. <a href="/#"
                        class="btn btn-secondary btn--small rounded-pill">Shop Now</a></div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 justify-content-end d-none d-lg-flex">
                <div class="setting-link">
                    <a href="/javascript:void(0);"><i class="cp cp-user-circle"></i> <span class="label">My
                            Account</span></a>
                    <div id="settingsBox">
                        <ul>
                            <li><a href="/login-register">Register / Log in</a></li>
                            <li><a href="/my-account">Order</a></li>
                            <li><a href="/my-account">Profile</a></li>
                            <li><a href="/my-account">Address</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/compare-product">Compare Product</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="list-inline m-0 social-icons">
                    <li class="list-inline-item"><a href="/#;" target="_blank" title="Facebook"><i
                                class="cpb cp-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="/#;" target="_blank" title="Twitter"><i
                                class="cpb cp-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="/#;" target="_blank" title="Instagram"><i
                                class="cpb cp-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="/#;" target="_blank" title="Google Plus"><i
                                class="cpb cp-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="/#;" target="_blank" title="Linked In"><i
                                class="cpb cp-linkedin-in"></i></a></li>
                    <li class="list-inline-item"><a href="/#;" target="_blank" title="Youtube"><i
                                class="cpb cp-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End TopBar-->
<!--Header-->
<header id="header" class="header-fixed">
    <div class="header d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2 col-sm-3 col-md-4 d-flex d-lg-none mobile-icons">
                    <!--Mobile Toggle-->
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon cps cp-times"></i>
                        <i class="icon cps cp-bars"></i>
                    </button>
                    <!--End Mobile Toggle-->
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <!--Desktop Logo-->
                    <a class="logo" href="/"><img src="/assets/images/logo.png"
                            alt="Tacko - Auto Parts eCommerce Bootstrap5 Html Template"
                            title="Tacko - Auto Parts eCommerce Bootstrap5 Html Template" /></a>
                    <!--End Desktop Logo-->
                </div>
                <div class="col-4 col-sm-4 col-md-6 col-lg-5 col-xl-6 prs-0 d-none d-lg-block">
                    <!--Desktop Menu-->
                    <nav class="grid__item px-1 pr-0" id="AccessibleNav">
                        <ul id="siteNav" class="site-nav medium left hidearrow">
                            <li class="lvl1"><a href="/" class="active">Home</a></li>

                            <li class="lvl1"><a href="/products">Products</a>

                            </li>
                            <li class="lvl1"><a href="/gallery">Gallery</a>
                                <!-- <ul class="dropdown">
                                    <li class="lvl1"><a href="/gallery">Gallery</a></li>
                                    <li class="lvl1"><a href="/gallery-grid-3column.html">Grid 3 Column</a></li>
                                    <li class="lvl1"><a href="/gallery-grid-4column.html">Grid 4 Column</a></li>
                                    <li class="lvl1"><a href="/gallery-masonry-2column.html">Masonry 2 Column</a></li>
                                    <li class="lvl1"><a href="/gallery-masonry-3column.html">Masonry 3 Column</a></li>
                                </ul> -->
                            </li>
                            <li class="lvl1 parent dropdown"><a href="/#">Pages</a>
                                <ul class="dropdown">
                                    <li class="lvl1"><a href="/services">Services</a></li>
                                    <li class="lvl1"><a href="/about-us">About Us</a></li>
                                    <li class="lvl1"><a href="/contact-us">Contact Us</a></li>
                                    <li class="lvl1"><a href="/faq">FAQ</a></li>
                                    <li class="lvl1"><a href="/404">404 Error</a></li>
                                </ul>
                            </li>
                            <li class="lvl1">
                                <a href="/blog">Blog</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="/blog-grid-no-sidebar.html">Blog Grid No Sidebar</a></li>
                                    <li><a href="/blog-grid-with-sidebar.html" class="site-nav">Blog Grid With
                                            Sidebar</a></li>
                                    <li><a href="/blog-listing-no-sidebar.html" class="site-nav">Blog Listing No
                                            Sidebar</a></li>
                                    <li><a href="/blog-listing-with-sidebar.html" class="site-nav">Blog Listing With
                                            Sidebar</a></li>
                                    <li><a href="/blog-single-page.html" class="site-nav">Blog Single Page</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <div class="col-4 col-sm-3 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-end align-items-center">
                    <!--Search-->
                    <div class="serach-site px-3 d-flex d-lg-none">
                        <a href="/javascript:void(0)" class="btn btn-secondary btn-lg rounded-circle search-icon"><i
                                class="cps cp-search align-middle"></i></a>
                    </div>
                    <div class="search-open d-none d-lg-flex">
                        <form action="#" method="get" id="search">
                            <div class="input-box d-flex">
                                <input type="text" id="search-input" name="keyword" value="" placeholder="Search..."
                                    class="input-text">
                                <button type="submit" title="Search" class="action search" disabled=""><i
                                        class="icon cps cp-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!--End Search-->
                    <a href="/wishlist" class="wishlist-icon d-none d-lg-flex"><i class="cpr cp-heart"></i><span
                            class="items rounded-circle">3</span></a>
                    <!--Cart Icons-->
                    <a href="/javascript:void(0)" data-bs-toggle="modal" data-bs-target="#minicart-drawer"
                        class="btn btn-secondary btn-lg rounded-circle cart-icon"><i class="cp cp-shopping-cart"></i>
                        <span class="items rounded-circle">3</span></a>
                    <!--End Cart Icons-->
                </div>
            </div>
        </div>
        <!--Search Popup-->
        <div id="search-popup" class="search-drawer">
            <div class="container">
                <span class="closeSearch cps cp-times"></span>
                <form class="form minisearch" id="header-search" action="#" method="get">
                    <label class="label"><span>Search</span></label>
                    <div class="control">
                        <div class="searchField">
                            <div class="input-box">
                                <button type="submit" title="Search" class="action search" disabled=""><i
                                        class="icon cps cp-search"></i></button>
                                <input type="text" name="keyword" value="" placeholder="Search by keyword or #"
                                    class="input-text">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End Search Popup-->
    </div>

</header>
<!--Header-->

<!--Mobile Drawer Menu-->
<div class="mobile-nav-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon cps cp-times pull-right"></i> Close Menu</div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1"><a href="/" class="active">Home</a></li>

        <li class="lvl1 "><a href="/products">Products</a>

        </li>
        <li class="lvl1 "><a href="/gallery">Gallery </a>
            <!-- <ul class="m-items lvl-1">
                <li class="lvl1"><a href="/gallery">Gallery</a></li>
                <li class="lvl1"><a href="/gallery-grid-3column.html">Grid 3 Column</a></li>
                <li class="lvl1"><a href="/gallery-grid-4column.html">Grid 4 Column</a></li>
                <li class="lvl1"><a href="/gallery-masonry-2column.html">Masonry 2 Column</a></li>
                <li class="lvl1"><a href="/gallery-masonry-3column.html">Masonry 3 Column</a></li> 
            </ul> -->
        </li>
        <li class="lvl1 parent"><a href="/services">Pages <i class="cps cp-plus"></i></a>
            <ul class="m-items lvl-1">
                <li class="lvl1"><a href="/services">Services</a></li>
                <li class="lvl1"><a href="/about-us">About Us</a></li>
                <li class="lvl1"><a href="/contact-us">Contact Us</a></li>
                <li class="lvl1"><a href="/faq.">FAQ</a></li>
                <li class="lvl1"><a href="/404">404 Error</a></li>
            </ul>
        </li>
        <li class="lvl1 ">
            <a href="/blog">Blog </a>
            <!-- <ul class="m-items lvl-1">
                <li><a href="/blog-grid-no-sidebar.html">Blog Grid No Sidebar</a></li>
                <li><a href="/blog-grid-with-sidebar.html" class="site-nav">Blog Grid With Sidebar</a></li>
                <li><a href="/blog-listing-no-sidebar.html" class="site-nav">Blog Listing No Sidebar</a></li>
                <li><a href="/blog-listing-with-sidebar.html" class="site-nav">Blog Listing With Sidebar</a></li>
                <li><a href="/blog-single-page.html" class="site-nav">Blog Single Page</a></li>
            </ul> -->
        </li>
        <li class="info">
            <span class="hours"><i class="icon cps cp-clock align-middle"></i> Open: 9:00 am - 9:00 pm</span>
        </li>
        <li class="social">
            <div class="list-inline m-0 social-icons">
                <span class="list-inline-item"><a href="/#;" target="_blank" title="Facebook"><i
                            class="cpb cp-facebook-f"></i></a></span>
                <span class="list-inline-item"><a href="/#;" target="_blank" title="Twitter"><i
                            class="cpb cp-twitter"></i></a></span>
                <span class="list-inline-item"><a href="/#;" target="_blank" title="Instagram"><i
                            class="cpb cp-instagram"></i></a></span>
                <span class="list-inline-item"><a href="/#;" target="_blank" title="Google Plus"><i
                            class="cpb cp-google-plus"></i></a></span>
                <span class="list-inline-item"><a href="/#;" target="_blank" title="Linked In"><i
                            class="cpb cp-linkedin-in"></i></a></span>
                <span class="list-inline-item"><a href="/#;" target="_blank" title="Youtube"><i
                            class="cpb cp-youtube"></i></a></span>
            </div>
        </li>
    </ul>
</div>
<!--End Mobile Drawer Menu-->

<script>

    const searchForm = document.getElementById('search');
    const searchInput = document.getElementById('search-input');
    searchInput.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            searchForm.action = "/products/";
            searchForm.submit();
        }
    });
</script>