            <!--Page Banner-->
            <div class="page-banner services-page-banner text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-uppercase">Services</h1>
                            <!--Breadcrums-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                                </ol>
                            </nav>
                            <!--End Breadcrums-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End Page Banner-->
            
            <!--Text & Image Section-->
            <div class="section text-image-section">
                <div class="container">
                    <div class="row">
                        <!--Text Section-->
                        <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                            <div class="section-title text-start">
                                <h2 class="title text-uppercase mb-2">RELIABLE SERVICES</h2>
                            </div>
                            <h3 class="text-uppercase large-title">We are Qualified &amp; Professional</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <ul class="lists-style1">
                                <li>We handle all makes and models in more than 40 car brands</li>
                                <li>We are endorsed by the local trading standards office</li>
                                <li>All our technicians are equipped with the latest portable technology</li>
                            </ul>
                        </div>
                        <!--End Text Section-->
                        <!--Image Section-->
                        <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                            <img class="blur-up lazyload rounded-3 w-100" src="/assets/images/service520x520.jpg" data-src="/assets/images/service520x520.jpg" alt="Service" title="" width="520" height="520" />
                        </div>
                        <!--End Image Section-->
                    </div>
                </div>
            </div>
            <!--End Text & Image Section-->
            
            <!--Our Services Section-->
            <div class="section our-service-section pt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title text-center">
                                <h2 class="title text-uppercase mb-2">OUR SERVICES</h2>
                                <h3 class="text-uppercase large-title">Great car service</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                            <div class="box rounded-3">
                                <div class="icon"><i class="cp cp-truck-monster"></i></div>
                                <h3 class="title mb-2">Tire and Wheel</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="read-more">Read More <i class="cp cp-caret-right"></i></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                            <div class="box rounded-3">
                                <div class="icon"><i class="cp cp-plug"></i></div>
                                <h3 class="title mb-2">Electrical System</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="read-more">Read More <i class="cp cp-caret-right"></i></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                            <div class="box rounded-3">
                                <div class="icon"><i class="cp cp-tools"></i></div>
                                <h3 class="title mb-2">System Service</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="read-more">Read More <i class="cp cp-caret-right"></i></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                            <div class="box rounded-3">
                                <div class="icon"><i class="cp cp-search"></i></div>
                                <h3 class="title mb-2">Engine Diagnostics</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="read-more">Read More <i class="cp cp-caret-right"></i></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-3">
                            <div class="box rounded-3">
                                <div class="icon"><i class="cp cp-car-side"></i></div>
                                <h3 class="title mb-2">Drivability Problems</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="read-more">Read More <i class="cp cp-caret-right"></i></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="box rounded-3">
                                <div class="icon"><i class="cp cp-filter"></i></div>
                                <h3 class="title mb-2">Automotive Filters</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="read-more">Read More <i class="cp cp-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Our Services Section-->
            