<!--Small Banner-->
<div class="section small-banners pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="small-banner-item rounded-3">
            <img
              class="blur-up lazyload rounded-3 w-100"
              data-src="assets/images/small-banner1-630-320.jpg"
              src="assets/images/small-banner1-630-320.jpg"
              alt="Spyder"
              title="Spyder"
              width="630"
              height="320"
            />
            <div class="detail">
              <h3 class="title text-uppercase mb-0">Spyder</h3>
              <h4 class="text-uppercase">Headlights &amp; Tail Lights</h4>
              <p>
                Conquer the night with Spyder lighting products. The illumination
                you demand. The look you aspire.
              </p>
              <a href="#" class="btn btn-primary btn--small">Explore Now!</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="small-banner-item rounded-3">
            <img
              class="blur-up lazyload rounded-3 w-100"
              data-src="assets/images/small-banner2-630-320.jpg"
              src="assets/images/small-banner2-630-320.jpg"
              alt="Vossen"
              title="Vossen"
              width="630"
              height="320"
            />
            <div class="detail">
              <h3 class="title text-uppercase mb-0">Vossen</h3>
              <h4 class="text-uppercase">Wheels &amp; Rims</h4>
              <p>
                Mastering the art of innovation to create wheels that blend the
                ultimate in performance and style.
              </p>
              <a href="#" class="btn btn-primary btn--small">Buy Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Small Banner-->
  