<div class="error-404-content">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>404</h1>
                <h2>Page not found</h2>
                <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
                <a href="/" class="btn btn-primary btn-lg rounded-pill"><i class="cp cp-lg cp-home mx-1"></i> Back To Home</a>
            </div>
        </div>
    </div>
</div>