<!--Page Banner-->
<div class="page-banner categories-page-banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">Wishlist</h1>
                <!--Breadcrums-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a> <span><i class="cps cp-caret-right"></i></span></li>
                        <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                    </ol>
                </nav>
                <!--End Breadcrums-->
            </div>
        </div>
    </div>
</div>
<!--End Page Banner-->

<div class="section login-page-in">
    <div class="container">
        <!--Wishlist Content-->
        <form action="#" method="post">
            <div class="wishlist-table table-content text-nowrap table-responsive">
                <table class="table align-middle">
                    <thead class="thead-bg">
                        <tr>
                            <th class="product-name text-start alt-font" colspan="3">Product</th>
                            <th class="product-price text-center alt-font">Price</th>
                            <th class="stock-status text-center alt-font">Stock Status</th>
                            <th class="product-subtotal text-center alt-font">Add to Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp cp-times"></i></a></td>
                            <td class="product-thumbnail text-center">
                                <a href="product"><img class="blur-up rounded-3 lazyload border-1" src="/hosting/automotive/assets/images/products/110x110.jpg" data-src="/hosting/automotive/assets/images/products/110x110.jpg" alt="" title="" width="100"></a>
                            </td>
                            <td class="product-name"><div class="mb-0"><a href="product">Cylinder Assy brake Master</a></div></td>
                            <td class="product-price text-center"><span class="amount fw-500">$165.00</span></td>
                            <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                            <td class="product-subtotal text-center"><button type="button" class="btn btn-secondary rounded-3 text-nowrap">Add To Cart</button></td>
                        </tr>
                        <tr>
                            <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp cp-times"></i></a></td>
                            <td class="product-thumbnail text-center">
                                <a href="product"><img class="blur-up rounded-3 lazyload  border-1" src="/hosting/automotive/assets/images/products/110x110.jpg" data-src="/hosting/automotive/assets/images/products/110x110.jpg" alt="" title="" width="100"></a>
                            </td>
                            <td class="product-name"><div class="mb-0"><a href="product">Brake Booster</a></div></td>
                            <td class="product-price text-center"><span class="amount fw-500">$150.00</span></td>
                            <td class="stock text-center"><span class="text-out-stock">Out Of stock</span></td>
                            <td class="product-subtotal text-center"><button type="button" class="btn rounded-3 text-nowrap soldOutBtn">Out Of stock</button></td>
                        </tr>
                        <tr>
                            <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp cp-times"></i></a></td>
                            <td class="product-thumbnail text-center">
                                <a href="product"><img class="blur-up rounded-3 lazyload border-1" src="/hosting/automotive/assets/images/products/110x110.jpg" data-src="/hosting/automotive/assets/images/products/110x110.jpg" alt="" title="" width="100"></a>
                            </td>
                            <td class="product-name"><div class="mb-0"><a href="product">Caliper Minor Set</a></div></td>
                            <td class="product-price text-center"><span class="amount fw-500">$150.00</span></td>
                            <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                            <td class="product-subtotal text-center"><button type="button" class="btn btn-secondary rounded-3 text-nowrap">Add To Cart</button></td>
                        </tr>
                        <tr>
                            <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp cp-times"></i></a></td>
                            <td class="product-thumbnail text-center">
                                <a href="product"><img class="blur-up rounded-3 lazyload border-1" src="/hosting/automotive/assets/images/products/110x110.jpg" data-src="/hosting/automotive/assets/images/products/110x110.jpg" alt="" title="" width="100"></a>
                            </td>
                            <td class="product-name"><div class="mb-0"><a href="product">Seal, Brake Caliper Piston</a></div></td>
                            <td class="product-price text-center"><span class="amount fw-500">$99.00</span></td>
                            <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                            <td class="product-subtotal text-center"><button type="button" class="btn btn-secondary rounded-3 text-nowrap">Add To Cart</button></td>
                        </tr>
                        <tr>
                            <td class="product-remove text-center"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Remove" aria-label="Remove"><i class="cp cp-times"></i></a></td>
                            <td class="product-thumbnail text-center">
                                <a href="product"><img class="blur-up rounded-3 lazyload border-1" src="/hosting/automotive/assets/images/products/110x110.jpg" data-src="/hosting/automotive/assets/images/products/110x110.jpg" alt="" title="" width="100"></a>
                            </td>
                            <td class="product-name"><div class="mb-0"><a href="product">Radio Transmitter Adapter</a></div></td>
                            <td class="product-price text-center"><span class="amount fw-500">$199.00</span></td>
                            <td class="stock text-center"><span class="text-in-stock">in stock</span></td>
                            <td class="product-subtotal text-center"><button type="button" class="btn btn-secondary rounded-3 text-nowrap">Add To Cart</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <!--End Wishlist Content-->
    </div>
</div>