<div class="top-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 d-flex justify-content-lg-start justify-content-center"
      >
        <span class="phone-top d-flex align-items-center">
          <a href="tel:123-456-7890"
            ><i class="icon cps cp-phone align-middle px-1"></i>
            <span class="label">+123-456-7890</span></a
          ></span
        >
        <span class="language-dropdown top-dropdown d-flex align-items-center">
          <i class="cps cp-language"></i>
          <select class="form-select" aria-label="select">
            <option selected>English</option>
            <option value="1">French</option>
            <option value="2">German</option>
            <option value="3">Spanish</option>
          </select>
        </span>
        <span class="currency-dropdown top-dropdown d-flex align-items-center">
          <i class="cps cp-coins"></i>
          <select class="form-select" aria-label="select">
            <option selected>USD</option>
            <option value="1">AUD</option>
            <option value="2">INR</option>
            <option value="3">EUR</option>
            <option value="3">GBP</option>
          </select>
        </span>
      </div>
      <div class="col-xl-4 d-md-flex d-none justify-content-center p-0">
        <div class="shipping-msg">
          <b>15%</b> every products we have a great offer for you.
          <a href="#" class="btn btn-secondary btn--small rounded-pill"
            >Shop Now</a
          >
        </div>
      </div>
      <div
        class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 justify-content-end d-none d-lg-flex"
      >
        <div class="setting-link">
          <a href="javascript:void(0);"
            ><i class="cp cp-user-circle"></i>
            <span class="label">My Account</span></a
          >
          <div id="settingsBox">
            <ul>
              <li><a href="login-register.html">Register / Log in</a></li>
              <li><a href="my-account.html">Order</a></li>
              <li><a href="my-account.html">Profile</a></li>
              <li><a href="my-account.html">Address</a></li>
              <li><a href="wishlist.html">My Wishlist</a></li>
              <li><a href="compare-product.html">Compare Product</a></li>
            </ul>
          </div>
        </div>
        <ul class="list-inline m-0 social-icons">
          <li class="list-inline-item">
            <a href="#;" target="_blank" title="Facebook"
              ><i class="cpb cp-facebook-f"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#;" target="_blank" title="Twitter"
              ><i class="cpb cp-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#;" target="_blank" title="Instagram"
              ><i class="cpb cp-instagram"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#;" target="_blank" title="Google Plus"
              ><i class="cpb cp-google-plus"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#;" target="_blank" title="Linked In"
              ><i class="cpb cp-linkedin-in"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#;" target="_blank" title="Youtube"
              ><i class="cpb cp-youtube"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--End TopBar-->
