<!--Header-->
<header id="header" class="header-fixed">
  <div class="header d-flex align-items-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-2 col-sm-3 col-md-4 d-flex d-lg-none mobile-icons">
          <!--Mobile Toggle-->
          <button
            type="button"
            class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open"
          >
            <i class="icon cps cp-times"></i>
            <i class="icon cps cp-bars"></i>
          </button>
          <!--End Mobile Toggle-->
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <!--Desktop Logo-->
          <a class="logo" href="index.html"
            ><img
              src="assets/images/logo.png"
              alt="Tacko - Auto Parts eCommerce Bootstrap5 Html Template"
              title="Tacko - Auto Parts eCommerce Bootstrap5 Html Template"
          /></a>
          <!--End Desktop Logo-->
        </div>
        <div
          class="col-4 col-sm-4 col-md-6 col-lg-5 col-xl-6 prs-0 d-none d-lg-block"
        >
          <!--Desktop Menu-->
          <nav class="grid__item px-1 pr-0" id="AccessibleNav">
            <ul id="siteNav" class="site-nav medium left hidearrow">
              <li class="lvl1">
                <a href="index.html" class="active">Home</a>
              </li>
              <li class="lvl1 parent megamenu mdropdown">
                <a href="shop-leftsidebar.html">Shop</a>
                <div class="megamenu style1">
                  <div class="row">
                    <div class="col-md-3 col-lg-3">
                      <h4 class="title text-uppercase">Shop Pages</h4>
                      <ul class="m-items lvl-1">
                        <li>
                          <a href="shop-leftsidebar.html" class="site-nav"
                            >Shop Grid Left Sidebar
                            <span class="lbl nm_label4">Hot</span></a
                          >
                        </li>
                        <li>
                          <a href="shop-rightsidebar.html" class="site-nav"
                            >Shop Grid Right Sidebar</a
                          >
                        </li>
                        <li>
                          <a href="shop-listview.html" class="site-nav"
                            >Shop Listview With Sidebar</a
                          >
                        </li>
                        <li>
                          <a href="shop-grid-2column.html" class="site-nav"
                            >Shop Grid 2Column</a
                          >
                        </li>
                        <li>
                          <a href="shop-grid-3column.html" class="site-nav"
                            >Shop Grid 3Column
                            <span class="lbl nm_label3">Popular</span></a
                          >
                        </li>
                        <li>
                          <a href="shop-grid-4column.html" class="site-nav"
                            >Shop Grid 4Column</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-lg-3">
                      <h4 class="title text-uppercase">Utility Pages</h4>
                      <ul class="m-items lvl-1">
                        <li>
                          <a href="shopping-cart-style1.html" class="site-nav"
                            >Shoping Cart Style1</a
                          >
                        </li>
                        <li>
                          <a href="shopping-cart-style2.html" class="site-nav"
                            >Shoping Cart Style2
                            <span class="lbl nm_label3">Popular</span></a
                          >
                        </li>
                        <li>
                          <a href="shopping-cart-style3.html" class="site-nav"
                            >Shoping Cart Style3</a
                          >
                        </li>
                        <li>
                          <a href="checkout-style1.html" class="site-nav"
                            >Checkout Style1</a
                          >
                        </li>
                        <li>
                          <a href="checkout-style2.html" class="site-nav"
                            >Checkout Style2
                            <span class="lbl nm_label3">Popular</span></a
                          >
                        </li>
                        <li>
                          <a href="checkout-style3.html" class="site-nav"
                            >Checkout Style3</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-lg-3">
                      <h4 class="title text-uppercase">Utility Pages</h4>
                      <ul class="m-items lvl-1">
                        <li>
                          <a href="my-account.html" class="site-nav"
                            >My Account</a
                          >
                        </li>
                        <li>
                          <a href="wishlist.html" class="site-nav"
                            >My Wishlist</a
                          >
                        </li>
                        <li>
                          <a href="compare-product.html" class="site-nav"
                            >Compare Product</a
                          >
                        </li>
                        <li>
                          <a href="login-register.html" class="site-nav"
                            >Login/Register</a
                          >
                        </li>
                        <li>
                          <a href="forgot-password.html" class="site-nav"
                            >Forgot Password</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-lg-3">
                      <a href="#"
                        ><img
                          class="blur-up lazyload"
                          data-src="assets/images/mm-banner1.jpg"
                          src="assets/images/mm-banner1.jpg"
                          alt="Engine Parts"
                          title="Engine Parts"
                          width="435"
                          height="350"
                      /></a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="lvl1 parent megamenu mdropdown position-relative">
                <a href="#">Products</a>
                <div class="megamenu style2">
                  <div class="row">
                    <div class="col-md-6 col-lg-6">
                      <h4 class="title text-uppercase">Product Types</h4>
                      <ul class="m-items lvl-1">
                        <li>
                          <a href="product-layout-style1.html" class="site-nav"
                            >Product Simple</a
                          >
                        </li>
                        <li>
                          <a href="product-layout-style3.html" class="site-nav"
                            >Product Variable</a
                          >
                        </li>
                        <li>
                          <a href="product-affiliate.html" class="site-nav"
                            >Product Affiliate</a
                          >
                        </li>
                        <li>
                          <a href="product-bundle.html" class="site-nav"
                            >Product Bundle</a
                          >
                        </li>
                        <li>
                          <a href="product-configurable.html" class="site-nav"
                            >Product Configurable</a
                          >
                        </li>
                        <li>
                          <a href="product-grouped.html" class="site-nav"
                            >Product Grouped</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <h4 class="title text-uppercase">Product Layouts</h4>
                      <ul class="m-items lvl-1">
                        <li>
                          <a href="product-layout-style1.html" class="site-nav"
                            >Product Layout Style1
                            <span class="lbl nm_label3">Popular</span></a
                          >
                        </li>
                        <li>
                          <a href="product-layout-style2.html" class="site-nav"
                            >Product Layout Style2</a
                          >
                        </li>
                        <li>
                          <a href="product-layout-style3.html" class="site-nav"
                            >Product Layout Style3
                            <span class="lbl nm_label4">Hot</span></a
                          >
                        </li>
                        <li>
                          <a href="product-layout-style4.html" class="site-nav"
                            >Product Layout Style4</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6 col-lg-6">
                      <a href="#"
                        ><img
                          class="blur-up lazyload"
                          data-src="assets/images/mm-banner2.jpg"
                          src="assets/images/mm-banner2.jpg"
                          alt="Tools"
                          title="Tools"
                          width="280"
                          height="135"
                      /></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <a href="#"
                        ><img
                          class="blur-up lazyload"
                          data-src="assets/images/mm-banner3.jpg"
                          src="assets/images/mm-banner3.jpg"
                          alt="Breake Lights"
                          title="Breake Lights"
                          width="280"
                          height="135"
                      /></a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="lvl1 parent dropdown">
                <a href="gallery-grid-2column.html">Gallery</a>
                <ul class="dropdown">
                  <li class="lvl1">
                    <a href="gallery-grid-2column.html">Grid 2 Column</a>
                  </li>
                  <li class="lvl1">
                    <a href="gallery-grid-3column.html">Grid 3 Column</a>
                  </li>
                  <li class="lvl1">
                    <a href="gallery-grid-4column.html">Grid 4 Column</a>
                  </li>
                  <li class="lvl1">
                    <a href="gallery-masonry-2column.html">Masonry 2 Column</a>
                  </li>
                  <li class="lvl1">
                    <a href="gallery-masonry-3column.html">Masonry 3 Column</a>
                  </li>
                </ul>
              </li>
              <li class="lvl1 parent dropdown">
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li class="lvl1">
                    <a href="services.html">Services</a>
                  </li>
                  <li class="lvl1">
                    <a href="about-us.html">About Us</a>
                  </li>
                  <li class="lvl1">
                    <a href="contact-us.html">Contact Us</a>
                  </li>
                  <li class="lvl1"><a href="faq.html">FAQ</a></li>
                  <li class="lvl1">
                    <a href="404-error.html">404 Error</a>
                  </li>
                </ul>
              </li>
              <li class="lvl1 parent dropdown">
                <a href="blog.html">Blog</a>
                <ul class="dropdown">
                  <li>
                    <a href="blog-grid-no-sidebar.html">Blog Grid No Sidebar</a>
                  </li>
                  <li>
                    <a href="blog-grid-with-sidebar.html" class="site-nav"
                      >Blog Grid With Sidebar</a
                    >
                  </li>
                  <li>
                    <a href="blog-listing-no-sidebar.html" class="site-nav"
                      >Blog Listing No Sidebar</a
                    >
                  </li>
                  <li>
                    <a href="blog-listing-with-sidebar.html" class="site-nav"
                      >Blog Listing With Sidebar</a
                    >
                  </li>
                  <li>
                    <a href="blog-single-page.html" class="site-nav"
                      >Blog Single Page</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!--End Desktop Menu-->
        </div>
        <div
          class="col-4 col-sm-3 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-end align-items-center"
        >
          <!--Search-->
          <div class="serach-site px-3 d-flex d-lg-none">
            <a
              href="javascript:void(0)"
              class="btn btn-secondary btn-lg rounded-circle search-icon"
              ><i class="cps cp-search align-middle"></i
            ></a>
          </div>
          <div class="search-open d-none d-lg-flex">
            <form action="#" method="get">
              <div class="input-box d-flex">
                <input
                  type="text"
                  name="q"
                  value=""
                  placeholder="Search..."
                  class="input-text"
                />
                <button
                  type="submit"
                  title="Search"
                  class="action search"
                  disabled=""
                >
                  <i class="icon cps cp-search"></i>
                </button>
              </div>
            </form>
          </div>
          <!--End Search-->
          <a href="wishlist.html" class="wishlist-icon d-none d-lg-flex"
            ><i class="cpr cp-heart"></i
            ><span class="items rounded-circle">3</span></a
          >
          <!--Cart Icons-->
          <a
            href="javascript:void(0)"
            data-bs-toggle="modal"
            data-bs-target="#minicart-drawer"
            class="btn btn-secondary btn-lg rounded-circle cart-icon"
          >
            <i class="cp cp-shopping-cart"></i>

            <span class="items rounded-circle">3</span></a
          >
          <!--End Cart Icons-->
        </div>
      </div>
    </div>
    <!--Search Popup-->
    <div id="search-popup" class="search-drawer">
      <div class="container">
        <span class="closeSearch cps cp-times"></span>
        <form
          class="form minisearch"
          id="header-search"
          action="#"
          method="get"
        >
          <label class="label"><span>Search</span></label>
          <div class="control">
            <div class="searchField">
              <div class="input-box">
                <button
                  type="submit"
                  title="Search"
                  class="action search"
                  disabled=""
                >
                  <i class="icon cps cp-search"></i>
                </button>
                <input
                  type="text"
                  name="q"
                  value=""
                  placeholder="Search by keyword or #"
                  class="input-text"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--End Search Popup-->
  </div>
</header>
