<!--Newsletter Popup-->
<div id="newsletter-modal" class="style1 mfp-with-anim mfp-hide rounded-3">
  <div class="newsletter-popup d-flex flex-column">
    <div class="newsltr-text text-start">
      <div class="wraptext">
        <h3 class="mb-0 text-uppercase">GET UP TO 25% OFF</h3>
        <h2 class="text-uppercase">Sign up to Tacko</h2>
        <p class="sub-text">
          Subscribe to the Tacko Autoparts newsletter to receive updates on
          special offers.
        </p>
        <form action="#" class="mcNewsletter" method="post">
          <div class="input-group rounded-3 d-flex">
            <input
              type="email"
              class="newsletter__input border-0"
              name="EMAIL"
              value=""
              placeholder="Your Email address"
              required
            />
            <button type="submit" class="btn btn-primary rounded" name="commit">
              <span>Subscribe</span>
            </button>
          </div>
        </form>
        <p class="checkboxlink mt-4 text-uppercase">
          <input type="checkbox" id="dontshow" class="form-check-input m-0" />
          <label for="dontshow" class="mx-2 align-middle"
            >Don't show this popup again</label
          >
        </p>
      </div>
    </div>
  </div>
  <button title="Close (Esc)" type="button" class="mfp-close"></button>
</div>
<!--End Newsletter Popup-->
