<div class="section pb-0 cart-style2">
     <div class="container">
          <!-- TOP -->
          <div class="row">
               <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="product-table-container" class="cart my-4 mt-0">
                         <!-- TABLE -->
                         <!-- BTN CLEAR CART -->
                    </div>
               </div>
          </div>
     </div>
</div>
