<!--Categories Content-->
<div class="section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <!--Content-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
        <!--Toolbar-->
        <div class="toolbar py-3 pt-0">
          <div class="filters-toolbar-wrapper">
            <ul
              class="list-unstyled d-flex align-items-center justify-content-between m-0"
            >
              <li class="collection-view d-flex align-items-center">
                <div
                  class="filters-toolbar__item collection-view-as d-flex align-items-center me-3"
                >
                  <a
                    href="shop-leftsidebar.html"
                    class="change-view prd-grid active"
                    ><i class="cps cp-th-large"></i
                    ><span class="tooltip-label">Grid View</span></a
                  >
                  <a href="shop-listview.html" class="change-view prd-list"
                    ><i class="cps cp-list"></i
                    ><span class="tooltip-label">List View</span></a
                  >
                </div>
              </li>
              <li
                class="filters-select ms-auto ms-sm-0 d-flex align-items-center"
              >
                <div
                  class="filters-toolbar-select d-flex align-items-center border-0 p-0"
                >
                  <label for="SortBy" class="flex-1 m-0 hidden">Sort by:</label>
                  <select
                    name="SortBy"
                    id="SortBy"
                    class="sort-by flex-1 rounded"
                  >
                    <option value="Sort" selected="selected">Sort</option>
                    <option value="best-selling">Best selling</option>
                    <option value="title-ascending">Alphabetically, A-Z</option>
                    <option value="title-descending">
                      Alphabetically, Z-A
                    </option>
                    <option value="price-ascending">Price, low to high</option>
                    <option value="price-descending">Price, high to low</option>
                    <option value="created-ascending">Date, old to new</option>
                    <option value="created-descending">Date, new to old</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--End Toolbar-->

        <!--Product Grid-->
        <div class="products-grid">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <!--Product Item-->
              <div class="item">
                <!--Product Image-->
                <div class="product-image">
                  <a href="#" class="rounded-3 product-thumb">
                    <!--Image-->
                    <img
                      class="primary blur-up lazyload rounded-3"
                      data-src="assets/images/products/250x250.jpg"
                      src="assets/images/products/250x250.jpg"
                      alt="Hankook DynaPro AT-m RF10"
                      title="Hankook DynaPro AT-m RF10"
                    />
                    <!--End Image-->
                    <!--Hover Image-->
                    <img
                      class="hover blur-up lazyload rounded-3"
                      data-src="assets/images/products/250x250.jpg"
                      src="assets/images/products/250x250.jpg"
                      alt="Hankook DynaPro AT-m RF10"
                      title="Hankook DynaPro AT-m RF10"
                    />
                    <!--End Hover Image-->
                  </a>
                  <!--Product Label-->
                  <div class="product-labels">
                    <span class="lbl new rounded">New</span>
                  </div>
                  <!--End Product Label-->
                  <!--Button Action-->
                  <div class="button-hover">
                    <a
                      href="wishlist.html"
                      class="btn btn-wishlist"
                      title="Wishlist"
                      ><i class="cpr cp-heart"></i
                    ></a>
                    <a
                      class="btn pro-addtocart-popup rounded btn-cart btn-primary"
                      href="shopping-cart.html"
                      title="Add To Cart"
                      ><i class="cps cp-shopping-cart"></i
                    ></a>
                  </div>
                  <!--End Button Action-->
                </div>
                <!--End Product Image-->
                <!--Product Detail-->
                <div class="product-details d-flex">
                  <div class="product-details-in">
                    <div class="h3">
                      <a href="#">Hankook DynaPro AT-m RF10</a>
                    </div>
                    <div class="price-box">
                      <span class="price">$450.00</span>
                    </div>
                  </div>
                  <div class="product-review">
                    <i class="cps cp-star"></i><i class="cps cp-star"></i
                    ><i class="cps cp-star"></i><i class="cps cp-star"></i
                    ><i class="cps cp-star-half-alt"></i>
                  </div>
                </div>
                <!--End Product Detail-->
              </div>
              <!--End Product Item-->
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <!--Product Item-->
              <div class="item">
                <!--Product Image-->
                <div class="product-image">
                  <a href="#" class="rounded-3 product-thumb">
                    <!--Image-->
                    <img
                      class="primary blur-up lazyload rounded-3"
                      data-src="assets/images/products/250x250.jpg"
                      src="assets/images/products/250x250.jpg"
                      alt="Carbon Steering Wheel"
                      title="Carbon Steering Wheel"
                    />
                    <!--End Image-->
                    <!--Hover Image-->
                    <img
                      class="hover blur-up lazyload rounded-3"
                      data-src="assets/images/products/250x250.jpg"
                      src="assets/images/products/250x250.jpg"
                      alt="Carbon Steering Wheel"
                      title="Carbon Steering Wheel"
                    />
                    <!--End Hover Image-->
                  </a>
                  <!--Button Action-->
                  <div class="button-hover">
                    <a
                      href="wishlist.html"
                      class="btn btn-wishlist"
                      title="Wishlist"
                      ><i class="cpr cp-heart"></i
                    ></a>
                    <a
                      class="btn pro-addtocart-popup rounded btn-cart btn-primary"
                      href="shopping-cart.html"
                      title="Add To Cart"
                      ><i class="cps cp-shopping-cart"></i
                    ></a>
                  </div>
                  <!--End Button Action-->
                </div>
                <!--End Product Image-->
                <!--Product Detail-->
                <div class="product-details d-flex">
                  <div class="product-details-in">
                    <div class="h3"><a href="#">Carbon Steering Wheel</a></div>
                    <div class="price-box">
                      <span class="price">$99.00</span>
                    </div>
                  </div>
                  <div class="product-review">
                    <i class="cps cp-star"></i><i class="cps cp-star"></i
                    ><i class="cps cp-star"></i><i class="cps cp-star"></i
                    ><i class="cpr cp-star"></i>
                  </div>
                </div>
                <!--End Product Detail-->
              </div>
              <!--End Product Item-->
            </div>
          </div>
        </div>
        <!--End Product Grid-->

        <!--Pagination-->
        <div class="row">
          <div class="col-12">
            <div class="pagination">
              <div class="container">
                <ul class="d-flex align-items-center justify-content-center">
                  <li class="prev arrow">
                    <a href="#"><i class="cps cp-arrow-left"></i></a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">5</a></li>
                  <li class="next arrow">
                    <a href="#"><i class="cps cp-arrow-right"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--End Pagination-->
      </div>
      <!--End Content-->
    </div>
  </div>
</div>
