<div class="section login-page-in">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="mb-4 box box-login">
                         <form
                              class="login-form"
                              id="main_forgot_password_form"
                         >
                              <h3 class="title text-uppercase">
                                   Forgot Password
                              </h3>
                              <p class="mb-3">
                                   Please enter your email address below. You
                                   will receive a link to reset your password.
                              </p>
                              <div class="row">
                                   <div
                                        class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3"
                                   >
                                        <div class="form-group">
                                             <input
                                                  type="email"
                                                  name="customer[email]"
                                                  placeholder="Enter your email adress"
                                                  id="CustomerEmail"
                                                  class="form-control"
                                                  required
                                             />
                                        </div>
                                   </div>
                              </div>
                              <div
                                   id="main_forgot_password_error"
                                   class="login-error ms-1 mb-2"
                                   style="text-align: left"
                              ></div>
                              <div class="row">
                                   <div
                                        class="col-12 col-sm-12 col-md-12 col-lg-12"
                                   >
                                        <div
                                             class="d-flex justify-content-between align-items-center"
                                        >
                                             <input
                                                  type="submit"
                                                  class="btn btn-primary rounded me-auto"
                                                  value="Password Reset"
                                             />
                                             <a
                                                  href="/login"
                                                  ><i
                                                       class="cps cp-arrow-left"
                                                  ></i>
                                                  Zaloguj się</a
                                             >
                                        </div>
                                   </div>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</div>
