<div class="container">
     <div
          class="w-100 my-5"
          style="
               display: flex;
               align-items: center;
               background-color: #eaeaea;
               border-radius: 10px;
               padding: 60px 30px;
          "
     >
          <img
               src="../assets/imgs/check.png"
               alt="check"
               style="height: 60px; width: 60px"
               class="block"
          />

          <div class="ms-4">
               <h3>Pomyślnie wysłano maila</h3>
               <p>
                    Sprawdź swoją pocztę i kliknij w link aby móc zrestartować
                    hasło. Jeśli nie dostałeś maila sprawdź czy podałeś/aś
                    prawidłowego e-mail.
               </p>
          </div>
     </div>
</div>
