
        <div>

            //////////////// pages/home.ejs ////////////////

            <!-- STYLE & i18n -->
            <p class="primary"> <%= i18n.__('primary') %></p>
            <p class="secondary"> <%= i18n.__('secondary') %></p>
            <p class="accent"> <%= i18n.__('accent') %></p>
        </div>