<div>
  <!--Homepage Slideshow-->
  <div class="slideshow home-slideshow p-0">
    <div class="slide">
      <div class="blur-up lazyload">
        <img
          class="blur-up lazyload desktop-hide"
          data-src="assets/images/slideshow/slide1.jpg"
          src="assets/images/slideshow/slide1.jpg"
          alt="Easy way to find the right car parts &amp; service"
          title="Easy way to find the right car parts &amp; service"
          width="1920"
          height="620"
        />
        <img
          class="blur-up lazyload mobile-hide"
          data-src="assets/images/slideshow/slide1-mobile.jpg"
          src="assets/images/slideshow/slide1-mobile.jpg"
          alt="Easy way to find the right car parts &amp; service"
          title="Easy way to find the right car parts &amp; service"
          width="1181"
          height="620"
        />
        <div class="container position-relative">
          <div class="slideshow-overlay btmleft text-left">
            <div class="slideshow-content">
              <div class="wrap-caption animation style1">
                <h2 class="mega-title white-text text-uppercase">
                  Easy way to find the right<br />
                  car Parts &amp; Service
                </h2>
                <a href="#" class="btn rounded-pill">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="blur-up lazyload">
        <img
          class="blur-up lazyload desktop-hide"
          data-src="assets/images/slideshow/slide1.jpg"
          src="assets/images/slideshow/slide1.jpg"
          alt="Customize, Modify, Upgrade, Repair, Replace"
          title="Customize, Modify, Upgrade, Repair, Replace"
          width="1920"
          height="620"
        />
        <img
          class="blur-up lazyload mobile-hide"
          data-src="assets/images/slideshow/slide1-mobile.jpg"
          src="assets/images/slideshow/slide1-mobile.jpg"
          alt="Customize, Modify, Upgrade, Repair &amp; Replace All any parts"
          title="Customize, Modify, Upgrade, Repair &amp; Replace All any parts<"
          width="1181"
          height="620"
        />
        <div class="container position-relative">
          <div class="slideshow-overlay btmright text-right">
            <div class="slideshow-content">
              <div class="wrap-caption animation style1">
                <h2 class="mega-title white-text text-uppercase">
                  Customize, Modify, Upgrade,<br />Repair &amp; Replace any
                  parts.
                </h2>
                <a href="#" class="btn rounded-pill">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Homepage Slideshow-->

  <!--Small Banner-->

  <div class="section small-banners pt-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="small-banner-item rounded-3">
            <img
              class="blur-up lazyload rounded-3 w-100"
              data-src="assets/images/small-banner1-630-320.jpg"
              src="assets/images/small-banner1-630-320.jpg"
              alt="Spyder"
              title="Spyder"
              width="630"
              height="320"
            />
            <div class="detail">
              <h3 class="title text-uppercase mb-0">Spyder</h3>
              <h4 class="text-uppercase">Headlights &amp; Tail Lights</h4>
              <p>
                Conquer the night with Spyder lighting products. The
                illumination you demand. The look you aspire.
              </p>
              <a href="#" class="btn btn-primary btn--small">Explore Now!</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="small-banner-item rounded-3">
            <img
              class="blur-up lazyload rounded-3 w-100"
              data-src="assets/images/small-banner2-630-320.jpg"
              src="assets/images/small-banner2-630-320.jpg"
              alt="Vossen"
              title="Vossen"
              width="630"
              height="320"
            />
            <div class="detail">
              <h3 class="title text-uppercase mb-0">Vossen</h3>
              <h4 class="text-uppercase">Wheels &amp; Rims</h4>
              <p>
                Mastering the art of innovation to create wheels that blend the
                ultimate in performance and style.
              </p>
              <a href="#" class="btn btn-primary btn--small">Buy Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Small Banner-->
</div>
