<div class="container">
    <!-- Top -->
    <div class="mt-5">
        <h2>Zamównienie: 8439024728</h2>
        <h5>Data zamównia: 26.08.2025</h5>
    </div>

    <hr> 

    <div style="display: flex; width: 100%;">
        <div style="flex-grow: 1;">
            <h5>Status:</h5>
            <p style="font-weight: 600;">Closed</p>
        </div>
        <div style="flex-grow: 1;">
            <h5>Warunki:</h5>
            <p style="font-weight: 600;">Prepaid</p>
        </div>
        <div style="flex-grow: 1;">
            <h5>Typ:</h5>
            <p style="font-weight: 600;">Sales Order</p>
        </div>
    </div>

    <hr>

    <div style="display: flex; width: 100%; gap: 20px;">   
        <div style="border: 0px solid #c6c6c6; flex-grow: 1; padding: 0px; border-radius: 5px;">
            <h5>Adres dostawy:</h5>
            <p style="margin-left: 0px;">
                Robert Kasprzak <br>
                tel: 664 783 433 <br>
                ul. Jednosci Narodowej 143/8 <br>
                50-303 Wroclaw <br>
                Poland
            </p>
        </div>
        <div style="border: 0px solid #c6c6c6; flex-grow: 1; padding: 0px; border-radius: 5px;">
            <h5>Adres rozliczeniowy:</h5>
            <p style="margin-left: 0px;">
                Robert Kasprzak <br>
                tel: 664 783 433 <br>
                ul. Jednosci Narodowej 143/8 <br>
                50-303 Wroclaw <br>
                Poland
            </p>
        </div>
    </div>

    <hr>

    <h5>Szczegoly:</h5>

    <table class="table align-middle mt-3">
        <tbody>
            <tr style="border-width: 1px !important;">
                <td class="product-name"><div class="mb-0"><a href="product-layout1.html">Cylinder Assy brake Master</a></div></td>
                <td class="stock text-center"><span class="">Ilośc: 2</span></td>
                <td class="product-price text-end"><span class="amount fw-500">$165.00</span></td>
            </tr>
            <tr style="border-width: 1px !important;">
                <td class="product-name"><div class="mb-0"><a href="product-layout1.html">Cylinder Assy brake Master</a></div></td>
                <td class="stock text-center"><span class="">Ilośc: 2</span></td>
                <td class="product-price text-end"><span class="amount fw-500">$165.00</span></td>
            </tr>
            <tr style="border-width: 1px !important;">
                <td class="product-name"><div class="mb-0"><a href="product-layout1.html">Cylinder Assy brake Master</a></div></td>
                <td class="stock text-center"><span class="">Ilośc: 2</span></td>
                <td class="product-price text-end"><span class="amount fw-500">$165.00</span></td>
            </tr>
            <tr style="border-width: 1px !important;">
                <td class="product-name"><div class="mb-0"><a href="product-layout1.html">Cylinder Assy brake Master</a></div></td>
                <td class="stock text-center"><span class="">Ilośc: 2</span></td>
                <td class="product-price text-end"><span class="amount fw-500">$165.00</span></td>
            </tr>
            <tr style="border-width: 1px !important;">
                <td class="product-name"><div class="mb-0"><a href="product-layout1.html">Cylinder Assy brake Master</a></div></td>
                <td class="stock text-center"><span class="">Ilośc: 2</span></td>
                <td class="product-price text-end"><span class="amount fw-500">$165.00</span></td>
            </tr>
        </tbody>
    </table>

    <div style="display: flex; width: 100%; justify-content: end;">
        <p style="font-weight: 600;">Suma: 5467 $</p>
        <!-- <p style="font-weight: 900;"> 5467 zl</p> -->
    </div>

    <hr>

    <h5>Podsumowanie:</h5>

    <div style="max-width: 650px; width: 100%;">

        <p style="margin: 0px; display: flex;">
            <span style="flex-grow: 1;">Metoda dostawy:</span>
            <span>DHL</span>
        </p> 

        <p style="margin: 0px 0px 50px 0px; display: flex;">
            <span style="flex-grow: 1;">Waga zamowienia:</span>
            <span>25 kg</span>
        </p> 
        
        <p style="margin: 0px; display: flex;">
            <span style="flex-grow: 1;">Suma czesciowa:</span>
            <span>4359 $</span>
        </p> 
        <p style="margin: 0px; display: flex;">
            <span style="flex-grow: 1;">Koszt dostawy:</span>
            <span>159 $</span>
        </p> 
        <p style="margin: 0px; display: flex;">
            <span style="flex-grow: 1;">Podatek:</span>
            <span>0 $</span>
        </p> 
        <p style="margin: 0px; display: flex; font-weight: 900;">
            <span style="flex-grow: 1;">Suma calkowita:</span>
            <span>4359 $</span>
        </p> 

    </div>


    <div style="display: flex; width: 100%; gap: 10px; margin: 50px 0px 50px 0px">
        <!-- <button>Anuluj zamowienie</button>
        <button>Oplac zamownie</button>
        <button>Reklamuj</button> -->

        <button type="button" name="clear" class="btn btn-border rounded-3 small--hide" data-action="clear" data-id="" style="flex-grow: 1;">Anuluj zamowienie</button>
        <button type="button" name="clear" class="btn btn-border rounded-3 small--hide" data-action="clear" data-id="">Zwroc / reklamuj</button>
        <!-- <button type="button" name="clear" class="btn btn-border rounded-3 small--hide" data-action="clear" data-id="">Oplac zamownie</button> -->
        <a class="btn btn-primary rounded-3 checkout small--hide" style="min-width: 200px;">Oplac zamownie</a>

    </div>
</div>