<div>
     <div class="section login-page-in">
          <div class="container">
               <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                         <div class="mb-4 box box-login">
                              <form id="main_rest_password" class="login-form">
                                   <h3 class="text-uppercase mb-3">
                                        Zresetuj Hasło
                                   </h3>

                                   <div class="row">
                                        <div
                                             class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3"
                                        >
                                             <div class="form-group">
                                                  <input
                                                       type="password"
                                                       value=""
                                                       name="customer[password]"
                                                       placeholder="Nowe hasło"
                                                       id="CustomerPassword"
                                                       class="form-control"
                                                       required
                                                  />
                                             </div>
                                        </div>
                                        <div
                                             class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3"
                                        >
                                             <div class="form-group">
                                                  <input
                                                       type="password"
                                                       value=""
                                                       name="customer[password]"
                                                       placeholder="Powtórz nowe hasło"
                                                       id="ConfirmCustomerPassword"
                                                       class="form-control"
                                                       required
                                                  />
                                             </div>
                                        </div>
                                        <label>
                                             <input
                                                  id="show_password"
                                                  class="d-inline-block align-middle mb-0 mt-0 margin-5px-right form-check-input"
                                                  type="checkbox"
                                                  name="account"
                                             />
                                             <span
                                                  class="d-inline-block align-middle mx-2"
                                                  >Pokaz hasło</span
                                             >
                                        </label>
                                        <div
                                             id="main_reset_password_error"
                                             class="login-error text-start"
                                        ></div>
                                   </div>
                                   <div class="row">
                                        <div
                                             class="text-left col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center"
                                        >
                                             <input
                                                  id="main_btn_login"
                                                  type="submit"
                                                  class="btn rounded btn-primary btn-lg"
                                                  value="Zresetuj hasło"
                                             />
                                        </div>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
