<div class="container">
     <div
          class="w-100 my-5"
          style="
               display: flex;
               align-items: center;
               background-color: #eaeaea;
               border-radius: 10px;
               padding: 60px 30px;
          "
     >
          <img
               src="../assets/imgs/check.png"
               alt="check"
               style="height: 60px; width: 60px"
               class="block"
          />

          <div class="ms-4">
               <h3>Pomyślnie zmieniłeś hasło</h3>
               <p>
                    <a
                         href="https://automotive.3cerp.cloud/login"
                         class="underline"
                         >Zaloguj się</a
                    >
                    aby przejśc do swojego konta.
               </p>
          </div>
     </div>
</div>
