<div> 

//////////////// pages/search.ejs ////////////////
<br />
<pre>
    data.content:
    <%= JSON.stringify(data.content, null, '\t')  %></pre>



<b>Total Pages:</b>
<%- data.content.totalPages %>
</div> 