<div class="container">
     <div
          class="w-100 my-5"
          style="
               display: flex;
               align-items: center;
               background-color: #eaeaea;
               border-radius: 10px;
               padding: 60px 30px;
          "
     >
          <img
               src="../assets/imgs/check.png"
               alt="check"
               style="height: 60px; width: 60px"
               class="block"
          />

          <div class="ms-4">
               <h3>Pomyślnie utworzono konto</h3>
               <p>
                    Na Twoją pocztę został wysłany email. Sprawdź go i potwierdź
                    konto klikając w link aby mój się zalgować.
               </p>
          </div>
     </div>
</div>
