<!--Checkout Content-->
<div class="section checkout-style1 pb-0">
     <div class="container">
          <div class="row">
               <div class="col-lg-7 col-md-6 col-sm-12 mb-3 px-5">
                    <!--Returning customer?-->
                    <div class="customer-box returning-customer mb-3 mt-2">
                         <div class="rounded-1 m-0">
                              <i class="cp-lg cps cp-user"></i> Returning
                              customer?
                              <b class="text-uppercase"
                                   ><a
                                        href="#customer-login"
                                        id="customer"
                                        data-bs-toggle="collapse"
                                        >Click here to login</a
                                   ></b
                              >
                         </div>
                    </div>

                    <hr />
                    <!-- FORM -->
                    <div id="form-container"></div>
               </div>
               <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                    <!--Order Summary-->
                    <div class="block mb-3 order-summary">
                         <div class="block-content">
                              <h2 class="title text-uppercase">Your order</h2>

                              <!-- SUMMARY ORDER -->
                              <div id="order-table-container"></div>

                              <div class="your-payment mt-4">
                                   <h2 class="title text-uppercase">
                                        payment method
                                   </h2>

                                   <div class="payment-method">
                                        <select
                                             name=""
                                             id=""
                                             class="form-control"
                                        >
                                             <option value="">PayPal</option>
                                             <option value="">Card</option>
                                        </select>
                                        <div class="cart_tearm mt-3 mb-2">
                                             <input
                                                  type="checkbox"
                                                  id="cbox"
                                                  value=""
                                                  class="form-check-input"
                                             />
                                             <label for="cbox" class="mx-2"
                                                  >Create an account ?</label
                                             >
                                        </div>
                                        <div
                                             class="order-button-payment mt-4 clearfix"
                                        >
                                             <a
                                                  href="#"
                                                  class="btn btn-primary btn-lg rounded-pill w-100"
                                                  >Place order</a
                                             >
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="form-group pl-0 mt-3">
                              <div
                                   id="cbox_info"
                                   class="checkout-form-list create-account hidden px-2"
                              >
                                   <div class="row">
                                        <div class="form-group">
                                             <label
                                                  >Email Address
                                                  <span class="required"
                                                       >*</span
                                                  ></label
                                             >
                                             <input
                                                  type="email"
                                                  placeholder="User name"
                                                  class="form-control"
                                             />
                                        </div>
                                        <div class="form-group">
                                             <label
                                                  >Password
                                                  <span class="required"
                                                       >*</span
                                                  ></label
                                             >
                                             <input
                                                  type="password"
                                                  placeholder="password"
                                                  class="form-control"
                                             />
                                        </div>
                                   </div>

                                   <p class="form-text text-center">
                                        Create an account by entering the
                                        information below. If you are a
                                        returning customer please login at the
                                        top of the page.
                                   </p>
                              </div>
                         </div>
                    </div>
                    <!--End Order Summary-->
               </div>
          </div>
     </div>
</div>
<!--End Checkout Content-->
