<div>
   //////////////// partials/footer.ejs ////////////////
   <ul>

      <li><a rel="alternate" hreflang="en" href="/search">search EN</a></li>
      <li><a rel="alternate" hreflang="pl" href="/item/Demo-Itemm">item PL</a></li>
      <li><a rel="alternate" hreflang="en" href="/item/Demo-Itemm">item EN</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="/checkout">checkout</a></li>
      <li><a href="/404">404</a></li>
   </ul>
</div>